<template>
    <q-header elevated>
      <q-toolbar>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
          <h3> {{ trainerName }}</h3>
      </q-toolbar>
    </q-header>


    <div class="q-pa-md flex flex-center">
      <q-card style="max-width: 700px; width: 100%;">
    <div class="q-pa-md text-center">
      <div class="text-h5 q-mb-md">Recenzija</div>

    <div class="q-gutter-y-md flex-center column">
      <q-rating
        v-model="grade"
        max="5"
        size="6em"
        color="green-5"
        icon="star_border"
        icon-selected="grade"
        icon-half="star_half"
        
      />

      <div class="q-pa-md flex-center" style="width: 100%; max-width: 600px;">
        <p class="q-mt-md">Imate li nešto za reći? Podijelite svoje iskustvo s drugima!</p>
    <q-input
      v-model="text"
      filled
      label="Ostavite recenziju...."
      type="textarea"
     
    />
  </div>
      

      <div>
        <q-btn
          color="primary"
          no-caps
          label="Pošalji"
          @click="submitReview"
          :disabled="isSubmitButtonDisabled"
        />
      </div>
    </div>
  </div>
  </q-card>
  </div>
  </template>
  
  <script>
  import { ref, onMounted, computed, inject } from 'vue';
  import { getDoc, getDocs, doc, addDoc, updateDoc, collection, query, where } from 'firebase/firestore';
  import { db } from 'boot/firebase';
  import { useRoute } from 'vue-router';
  import { getAuth } from 'firebase/auth';
  export default {
    beforeMount() {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    },
  
    setup() {
      const route = useRoute();
      const trainerId = route.params.id;
      const trainerName = ref('');
      const docId = ref(null);
      const grade = ref(2.5);
      const text = ref('');
      const authInstance = getAuth();
      const toggleLeftDrawer = inject('toggleLeftDrawer');
  
      // Metoda za dohvaćanje imena trenera
      const fetchTrainerName = async () => {
        const trainerDoc = await getDoc(doc(db, 'Treneri', trainerId));
        if (trainerDoc.exists()) {
          const data = trainerDoc.data();
          trainerName.value = `${data.ime_korisnika} ${data.prezime_korisnika}`;
        }
      };
  
      // Praćenje promjene u ruti da bi se ažurirao trainerId i dohvatilo ime trenera
      onMounted(() => {
      fetchTrainerName();
      fetchExistingReview();
    });

      
      const isSubmitButtonDisabled = computed(() => {
  return !grade.value || !text.value.trim();
});
const submitReview = async () => {

  if (authInstance.currentUser) {
    const clientId = authInstance.currentUser.uid;
    try {
      const clientDoc = await getDoc(doc(db, 'Klijenti', clientId));
      if (clientDoc.exists()) {
        const clientData = clientDoc.data();
        const clientName = `${clientData.ime_korisnika} ${clientData.prezime_korisnika}`;

        try {
          if (docId.value) {
            await updateDoc(doc(db, 'Treneri', trainerId, 'Recenzije', docId.value), {
              rating: grade.value,
              reviewText: text.value,
              clientName: clientName
            });
          } else {
            await addDoc(collection(db, 'Treneri', trainerId, 'Recenzije'), {
              rating: grade.value,
              reviewText: text.value,
              clientId: clientId,
              clientName: clientName
            });
          }
          // Resetiranje vrijednosti
          grade.value = null;
          text.value = '';
          // Ažuriranje prosječne ocjene
          await calculateAndUpdateAverageRating(trainerId);
        } catch (error) {
          console.error('Greška prilikom dodavanja/recenzije:', error);
        }
      }
    } catch (error) {
      console.error('Greška prilikom dohvata korisnika:', error);
    }
  }
};


const calculateAndUpdateAverageRating = async (trainerId) => {
  // Dohvaćanje svih recenzija za trenera
  const reviewsSnapshot = await getDocs(collection(db, 'Treneri', trainerId, 'Recenzije'));
  let totalRating = 0;
  let numberOfReviews = 0;
  // Iteracija kroz sve recenzije i izračun ukupne ocjene
  reviewsSnapshot.forEach(doc => {
    totalRating += doc.data().rating; 
    numberOfReviews++;

  });
  let averageRating = 0;
  // Izračun prosječne ocjene
  if (numberOfReviews > 0) {
    averageRating = totalRating / numberOfReviews;
    averageRating = averageRating.toFixed(1); // korištenje JavaScript metode toFixed() za zaokruživanje brojke na jednu decimalu
    // Ažuriranje dokumenta trenera s novom prosječnom ocjenom
    const trainerRef = doc(db, 'Treneri', trainerId);
    await updateDoc(trainerRef, {
      prosjecna_ocjena: averageRating
    });
    
  }
  else addDoc(trainerRef, {
      prosjecna_ocjena: averageRating
    })

};
 // Metoda za dohvaćanje postojeće recenzije
 const fetchExistingReview = async () => {
      if (authInstance.currentUser) {
        const clientId = authInstance.currentUser.uid;
        const reviewQuery = query(collection(db, 'Treneri', trainerId, 'Recenzije'), where("clientId", "==", clientId));
        const querySnapshot = await getDocs(reviewQuery);
        if (!querySnapshot.empty) {
          const docData = querySnapshot.docs[0].data();
          docId.value = querySnapshot.docs[0].id;
          grade.value = docData.rating;
          text.value = docData.reviewText;
        }
      }
      else{}
    };

   return {
     trainerName,
     grade,
     text,
     submitReview,
     calculateAndUpdateAverageRating,
     isSubmitButtonDisabled,
     fetchExistingReview,
     toggleLeftDrawer
    };  
    },
  };
  </script>
  
 