<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
      </q-item>
      <h3> POPIS TRENERA</h3>
    </q-toolbar>
  </q-header>
  <!-- Poruka iznad tablice -->
  <div class="form-header text-h5 text-center q-py-md">Ovdje možete vidjeti recenzije preostalih klijenata za sve trenere, te ukoliko želite, možete i ostaviti recenziju Vašem treneru!</div>
 
<div class="table-container">
  <q-table
    :rows="trainers"
    :columns="columns"
    row-key="id"
    
  >
  <template v-slot:body-cell-open="props">
      <q-td class="text-center">
        <q-btn color="primary" label="Sve recenzije" @click="openViewAllReviewsPage(props.row.docId)"/>
      </q-td>
    </template>
  <template v-slot:body-cell-edit="props">
    <q-td class="text-center table-row-line">
        <q-btn color="primary" label="Ostavi recenziju" @click="openInsertReviewPage(props.row.docId)" />
      </q-td>
  </template>

    
  </q-table>
</div>
  <q-dialog v-model="hasReviewAccess" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <span class="q-ml-sm">Možete ostaviti recenziju samo za svojeg trenera. <br> Hvala na razumijevanju!</span>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="U redu" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>



<script>
import { ref, onMounted, inject } from 'vue';
import { collection, getDocs, query, where } from 'firebase/firestore';
import { db } from 'boot/firebase';
import { getAuth } from 'firebase/auth';
import { useRouter } from 'vue-router';

export default {

  beforeMount() {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    },
  setup() {
    const trainers = ref([]);
    const router = useRouter();
    const hasReviewAccess = ref(false);
    const authInstance = getAuth();
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const columns = ref([
      { name: 'ime_korisnika', required: true, label: 'Ime Trenera', align: 'left', field: 'ime_korisnika' },
      { name: 'prezime_korisnika', required: true, label: 'Prezime trenera', align: 'left', field: 'prezime_korisnika' },
      { name: 'prosjecna_ocjena', required: true, label: 'Ocjena', align: 'left', field: 'prosjecna_ocjena' },
      { name: 'open', label: '', field: 'open', align: 'center', sortable: false },
      { name: 'edit', label: '', align: 'center', sortable: false },

    ]);

    // Metoda za pushanje id dokumenta svojeg trenera na sljedeću stranicu
    const openInsertReviewPage = async (docId) => {
      // provjera putem emaila postoji li korisnik u bazi podataka kod trenera kod kojeg se želi ostaviti recenzija
      // ako ne postoji, nije dozvoljeno ostaviti recenziju
      // ako postoji, navigira se na stranicu za unos recenzije
  if (authInstance.currentUser) {
    const clientEmail = authInstance.currentUser.email;

    // Dohvaćanje referenci za kolekciju klijenata odabranog trenera
    const clientsCollectionRef = collection(db, 'Treneri', docId, 'Klijenti');
    const clientsQuery = query(clientsCollectionRef, where('email', '==', clientEmail));
    const clientsSnapshot = await getDocs(clientsQuery);

    if (clientsSnapshot.empty) {
      // Ako nema klijenata s tim emailom kod odabranog trenera, prikaži dijalog
      hasReviewAccess.value = true;
    } else {
      // Ako postoji klijent, dozvoli pristup stranici za recenziju
      router.push({ name: 'KlijentTrenerRecenzija', params: { id: docId } });
    }
  }
};

const openViewAllReviewsPage = async (docId) => {
  router.push({ name: 'KlijentTrenerSveRecenzije', params: { id: docId }});
}
    // Metoda za dohvaćanje trenera
    const fetchTrainers = async () => {
      try {
        const querySnapshot = await getDocs(collection(db, 'Treneri'));
        trainers.value = querySnapshot.docs.map((doc) => {
          const data = doc.data();
          return { docId: doc.id, ...data };
        });
      } catch (error) {
        console.error('Greška u dohvaćanju trenera:', error);
      }
    };



    onMounted(fetchTrainers);

    return {
      trainers, 
      openInsertReviewPage,
      openViewAllReviewsPage,
      columns,
      hasReviewAccess,
      toggleLeftDrawer
    };
  }
};
</script>

<style>
.table-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 450h; 
}

.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>


