<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
      </q-item>
      <h3> Recenzije za {{ trainerName }}</h3>
    </q-toolbar>
  </q-header>

  <div class="q-pa-md">
    <q-table
      flat
      bordered
      :rows="reviews"
      :columns="columns"
      row-key="docId"
      :filter="filter"
    >
      <template v-slot:top-left>
        <q-input  dense debounce="300" v-model="filter" placeholder="Pretraži">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </div>
</template>

<script>
import { ref, onMounted, inject } from 'vue';
import { db } from 'boot/firebase';
import { getDocs, collection, getDoc, doc } from 'firebase/firestore';
import { useRoute } from 'vue-router';

export default {

  beforeMount() {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    },
    
  setup() {
    const reviews = ref([]);
    const route = useRoute();
    const trainerId = route.params.id;
    const trainerName = ref('');
    const filter = ref(''); 
    const toggleLeftDrawer = inject('toggleLeftDrawer');

    const columns = [
      { name: 'clientName', align: 'left', label: 'Ime klijenta', field: 'clientName', sortable: true },
      { name: 'reviewText', align: 'left', label: 'Sadržaj', field: 'reviewText', sortable: true },
      { name: 'rating', align: 'left', label: 'Ocjena', field: 'rating' }
    ];

    const fetchTrainerName = async () => {
      try {
        const trainerDoc = await getDoc(doc(db, 'Treneri', trainerId));
        if (trainerDoc.exists()) {
          trainerName.value = `${trainerDoc.data().ime_korisnika} ${trainerDoc.data().prezime_korisnika}`;
        }
      } catch (error) {
        console.error('Greška u dohvaćanju imena trenera: ', error);
      }
    };

    const fetchReviews = async () => {
      try {
        const querySnapshot = await getDocs(collection(db, 'Treneri', trainerId, 'Recenzije'));
        reviews.value = querySnapshot.docs.map(doc => ({ docId: doc.id, ...doc.data() }));
      } catch (error) {
        console.error('Greška u dohvaćanju recenzija: ', error);
      }
    };

    onMounted(() => {
      fetchTrainerName();
      fetchReviews();
    });

    return {
      reviews,
      trainerName,
      columns,
      filter,
      toggleLeftDrawer
    };
  },
};
</script>
