<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
      </q-item>
      <h3>TRENING</h3>
    </q-toolbar>
  </q-header>




  <div class="row justify-center q-gutter-md" style="margin-bottom: 50px; margin-top: 20px;">
        <q-card class="card-container" @click= "navigateToKlijentProgramVjezbi" style="width: 300px">
            <q-img src="6500_2_09.jpg" style="height: 200px; object-fit: cover; position: relative;">
                <div class= "absolute-bottom text-h6 center">Program vježbi</div>
                <div class="textgrey-h20" style="font-size: 12px; color: white; opacity: 0.3;">
                    Image by catalyststuff on Freepik
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje dodajte prilagođeni program vježbi za klijenta
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToKlijentPlanPrehrane" style="width: 300px">
            <q-img src="51721.jpg"  style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Plan prehrane</div>
                <div class="textgrey-h20" style="font-size: 12px; color: white; opacity: 0.3;">
                    Image by studiogstock on Freepik
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje dodajte prilagođeni plan prehrane za klijenta
            </q-card-section>
        </q-card>


   
    <q-card class="card-container" @click="navigateToKlijentNapredak" style= "width: 300px">
            <q-img src="progress.png" style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Napredak klijenta</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Progress icons created by wahya - Flaticon
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete vidjeti tjedni napredak Vašeg klijenta
            </q-card-section>
        </q-card>
      </div>
</template>


<script>
import { inject } from "vue";
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();

    const beforeMount = () => {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    };

    const toggleLeftDrawer = inject('toggleLeftDrawer');

    const navigateToKlijentProgramVjezbi = () => {
      router.push({ path: '/klijent/KlijentProgramVjezbi' }); 
    };

    const navigateToKlijentPlanPrehrane = () => {
      router.push({ path: '/klijent/KlijentPlanPrehrane' }); 
    };

    const navigateToKlijentNapredak = () => {
      router.push({ path: '/klijent/KlijentNapredak' }); 
    };

    return {
      beforeMount,
      toggleLeftDrawer,
      navigateToKlijentProgramVjezbi,
      navigateToKlijentPlanPrehrane,
      navigateToKlijentNapredak
    };
  }
};
</script>
<style>

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>