<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
      </q-item>
      <h3> PROGRAM VJEŽBI</h3>
    </q-toolbar>
  </q-header>
  <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Ovdje možete vidjeti Vaš program vježbi!</div>
    <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
  </div>
  <div class="q-pa-md">
    <q-select
      filled
      v-model="selectedWeek"
      :options="weekOptions"
      label="Odaberite tjedan"
      emit-value
      map-options
      class="q-mb-md"
    />
    <!-- Provjera je li tjedan odabran prije prikazivanja dropdown-a za dane -->
    <q-select
      v-if="selectedWeek"
      filled
      v-model="selectedDay"
      :options="dayOptions"
      label="Odaberite dan"
      emit-value
      map-options
      class="q-mb-md"
    />
    <!-- Gumb se prikazuje samo kada je odabran dan -->
    <q-btn
  v-if="selectedDay"
  color="primary"
  label="Spremi odrađene vježbe"
  @click="showDialog"
  class="q-mt-md"
  :disabled="!isAnyExerciseCompleted"
/>
    <q-table
      v-if="exercises.length > 0"
      :rows="exercises"
      :columns="columns"
      row-key="name"
      class="full-width"
    >
      <template v-slot:body-cell-description="props">
        <q-td :props="props" class="description-cell">
          <div class="multi-line-description">{{ props.row.description }}</div>
        </q-td>
      </template>
      <template v-slot:body-cell-image="props">
        <q-td :props="props">
          <img :src="props.row.imageUrl" alt="Exercise" style="width: 200px; height: 200px;">
        </q-td>
      </template>
      <template v-slot:body-cell-completed="props">
        <q-td :props="props">
          <div class="q-pa-md">
            <q-checkbox v-model="props.row.completed" />
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
  <!-- dijalog -->
  <q-dialog v-model="dialogVisible">
    <q-card>
      <q-card-section>
        <div class="text-h6">Potvrda</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        Jeste li sigurni da želite spremiti odrađene vježbe?
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Odustani" color="negative" @click="hideDialog" />
        <q-btn label="Spremi" color="primary" @click="saveCompletedExercises" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <!-- dijalog za obavijest -->
  <q-dialog v-model="infoDialogVisible">
    <q-card>
      <q-card-section>
        <div class="text-h6">Obavijest</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        {{ message }}
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Zatvori" color="primary" @click="hideInfoDialog" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, watch, onMounted, computed, inject } from 'vue';
import { db } from 'boot/firebase';
import { collection, getDocs, doc, query, where, addDoc } from 'firebase/firestore';
import { getAuth } from 'firebase/auth';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const auth = getAuth();
    const user = auth.currentUser;
    const programId = ref(null);
    const selectedWeek= ref(null);
    const selectedDay = ref(null);
    const exercises = ref([]);
    const message = ref('');
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const weekOptions = ref([
      { label: 'Tjedan 1', value: 'Tjedan 1' },
      { label: 'Tjedan 2', value: 'Tjedan 2' },
      { label: 'Tjedan 3', value: 'Tjedan 3' },
      { label: 'Tjedan 4', value: 'Tjedan 4' },
      { label: 'Tjedan 5', value: 'Tjedan 5' },
      { label: 'Tjedan 6', value: 'Tjedan 6' },
      { label: 'Tjedan 7', value: 'Tjedan 7' },
      { label: 'Tjedan 8', value: 'Tjedan 8' },
    ]);
    const dayOptions = ref([
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Cetvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ]);

    const columns = [
      { name: 'name', label: 'Naziv vježbe', field: 'name', align: 'left', sortable: true },
      { name: 'description', label: 'Opis vježbe', field: 'description', align: 'left', sortable: true },
      { name: 'image', label: 'Slika', field: 'image', align: 'center', sortable: false },
      { name: 'completed', label: 'Odrađeno', field: 'completed', align: 'center', sortable: false }
    ];

    const dialogVisible = ref(false);
    const infoDialogVisible = ref(false);

    const showDialog = () => {
      dialogVisible.value = true;
    };

    const hideDialog = () => {
      dialogVisible.value = false;
    };

    const hideInfoDialog = () => {
      infoDialogVisible.value = false;
    };

    const getClientIdInTrainerSubcollection = async (email) => {
      const trainersRef = collection(db, 'Treneri');
      const querySnapshot = await getDocs(trainersRef);
      let clientIdInTrainerSubcollection = '';

      for (const trainerDoc of querySnapshot.docs) {
        const clientsRef = collection(db, 'Treneri', trainerDoc.id, 'Klijenti');
        const clientsSnapshot = await getDocs(clientsRef);

        clientsSnapshot.forEach((clientDoc) => {
          if (clientDoc.data().email === email) {
            clientIdInTrainerSubcollection = clientDoc.id;
          }
        });

        if (clientIdInTrainerSubcollection) {
          break;
        }
      }

      if (!clientIdInTrainerSubcollection) {
        throw new Error(`Klijent sa navedenom email adresom nije pronađen: ${email}`);
      }

      return clientIdInTrainerSubcollection;
    };

    const fetchExercises = async () => {
      try {
        const daysCollectionRef = collection(db, 'Program vježbi', programId.value, 'Tjedni', selectedWeek.value, selectedDay.value);    
        const exercisesSnapshot = await getDocs(daysCollectionRef);
        exercises.value = exercisesSnapshot.docs.map(doc => ({
          id: doc.id,
          ...doc.data(),
          completed: false
        }));

        console.log("Dohvaćene vježbe: ", exercises.value);
      } catch (err) {
        console.error("Greška u dohvaćanju vježbi: ", err);
      }
    };

    watch([selectedWeek, selectedDay], async () => {
      if (selectedWeek.value && selectedDay.value) {
        await fetchExercises();
      }
    });

    onMounted(async () => {
      if (user) {
        try {
          const clientId = await getClientIdInTrainerSubcollection(user.email);
          const programsQuery = query(collection(db, "Program vježbi"), where("clientId", "==", clientId));
          const programsSnapshot = await getDocs(programsQuery);

          if (!programsSnapshot.empty) {
            programId.value = programsSnapshot.docs[0].id;
            console.log("Program ID: ", programId.value);
          }
        } catch (err) {
          console.error(err.message);
        }
      }
    });

    const isAnyExerciseCompleted = computed(() => {
  return exercises.value.some(exercise => exercise.completed);
});

const saveCompletedExercises = async () => {
  try {
    const trainersRef = collection(db, 'Treneri');
    const querySnapshot = await getDocs(trainersRef);
    let clientIdInTrainerSubcollection = '';

    for (const trainerDoc of querySnapshot.docs) {
      const clientsRef = collection(db, 'Treneri', trainerDoc.id, 'Klijenti');
      const clientsSnapshot = await getDocs(clientsRef);

      clientsSnapshot.forEach((clientDoc) => {
        if (clientDoc.data().email === user.email) {
          clientIdInTrainerSubcollection = clientDoc.id;
        }
      });

      if (clientIdInTrainerSubcollection) {
        // Reference za spremanje dokumenta odradene vjezbe
        const completedExercisesRef = collection(db, 'Treneri', trainerDoc.id, 'Klijenti', clientIdInTrainerSubcollection, 'Odrađene vježbe', selectedWeek.value, selectedDay.value);
      
        let selectedExercisesCount = 0; // Deklaracija varijable 

        for (const exercise of exercises.value) {
          if (exercise.completed) {
            // Provjera postoji li već dokument za ovu vježbu
            const exerciseQuery = query(completedExercisesRef, where('name', '==', exercise.name));
            const existingExercisesSnapshot = await getDocs(exerciseQuery);

            if (existingExercisesSnapshot.empty) { // Ako nema dokumenata, dokument ne postoji
              await addDoc(completedExercisesRef, {
                name: exercise.name,
                description: exercise.description,
                imageUrl: exercise.imageUrl,
              });
              selectedExercisesCount++;
            } // Ako dokument postoji, preskače se dodavanje
          }
        }

        //  Ukupan broj vježbi prije resetiranja
        const totalExercisesCount = exercises.value.length;

        // Resetiranje odabira tjedna, dana i vježbi
        selectedWeek.value = null;
        selectedDay.value = null;
        exercises.value = []; 

        message.value = `Odradili ste ${selectedExercisesCount} od ${totalExercisesCount} vježbi.`;

        hideDialog(); // Zatvaranje prvog dijaloga

        // Prikazivanje drugog dijaloga s porukom
        infoDialogVisible.value = true;
        break;
      }
    }
  } catch (error) {
    console.error('Greška prilikom spremanja odrađenih vježbi:', error);
  }
};

    return {
      selectedDay,
      selectedWeek,
      exercises,
      weekOptions,
      dayOptions,
      columns,
      saveCompletedExercises,
      dialogVisible,
      infoDialogVisible,
      showDialog,
      hideDialog,
      hideInfoDialog,
      message,
      isAnyExerciseCompleted,
      toggleLeftDrawer
    };
  }
};
</script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}

.multi-line-description {
  white-space: pre-line;
}

.description-cell {
  width: 50%;
}

</style>