
<template>
   <div class="q-pa-md container">
    <q-header elevated>
      <q-toolbar>
        <q-item clickable v-ripple>
          <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
        </q-item>
        <h3>MOJ PROFIL</h3>
      </q-toolbar>
    </q-header>

    <div class="centered-content">
      <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Osobni podaci</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>

    <div class="form-container">
        <div class="form-field">
          <label class="form-label">Ime:</label>
          <input type="text" class="form-input" v-model="ime_korisnika" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">Prezime:</label>
          <input type="text" class="form-input" v-model="prezime_korisnika" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">Kontakt broj:</label>
          <input type="text" class="form-input" v-model="kontakt_korisnika" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">E-mail:</label>
          <input type="email" class="form-input" v-model="email" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Spol:</label>
          <input type="text" class="form-input" v-model="spol" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">Težina:</label>
          <input type="text" class="form-input" v-model="tezina_korisnika" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">Visina:</label>
          <input type="text" class="form-input" v-model="visina_korisnika" :readonly="!editing" />
        </div>
        <div class="form-field">
          <label class="form-label">Datum rođenja:</label>
          <input type="date" class="form-input" v-model="datumrod_korisnika" :readonly="!editing" />
        </div>
        
    <q-btn 
      v-if="!editing"
      icon="edit"
      @click="toggleEditing"
      class="glossy"
      color="primary"
      rounded
    >
      UREDI
    </q-btn>
    <q-btn 
      v-else
      icon="save"
      @click="toggleEditing"
      class="glossy"
      color="primary"
      rounded
    >
      SPREMI
    </q-btn>
      </div>
      
    </div>
  
  </div>
  
  <q-footer class="footer">
    <q-toolbar>
      <q-toolbar-title>© 2024 Fitness i zdravlje</q-toolbar-title>
    </q-toolbar>
  </q-footer>
</template>
<script>
import { ref, onMounted, inject } from "vue";
import { doc, getDoc, updateDoc, Timestamp } from "firebase/firestore";
import { db } from "boot/firebase.js";
import { getAuth, onAuthStateChanged } from 'firebase/auth';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const auth = getAuth();
    const ime_korisnika = ref("");
    const prezime_korisnika = ref("");
    const kontakt_korisnika = ref("");
    const email = ref("");
    const spol = ref("");
    const tezina_korisnika = ref("");
    const visina_korisnika = ref("");
    const datumrod_korisnika = ref("");
    const editing = ref(false);
    const toggleLeftDrawer = inject('toggleLeftDrawer');

    onAuthStateChanged(auth, async (user) => {
      if (user) {
        
        const uid = user.uid;
        
        const docRef = doc(db, "Klijenti", uid);
        const docSnap = await getDoc(docRef);

        if (docSnap.exists()) {
          const data = docSnap.data();
          ime_korisnika.value = data.ime_korisnika;
          prezime_korisnika.value = data.prezime_korisnika;
          kontakt_korisnika.value = data.kontakt_korisnika;
          email.value = data.email;
          spol.value = data.spol;
          tezina_korisnika.value = data.tezina_korisnika;
          visina_korisnika.value = data.visina_korisnika;
          datumrod_korisnika.value = data.datumrod_korisnika || null;

        } else {
          console.log("No such document!");
        }
      } else {
        
      }
    });
// metoda za prebacivanje između načina uređivanja i pregleda
    const toggleEditing = () => {
      editing.value = !editing.value;

      if (!editing.value) {
        updateClient();
      }
    };
// metoda za ažuriranje podataka o klijentu
    const updateClient = async () => {
      const user = auth.currentUser;
      const docRef = doc(db, "Klijenti", user.uid);

      const updatedData = {
        ime_korisnika: ime_korisnika.value,
        prezime_korisnika: prezime_korisnika.value,
        kontakt_korisnika: kontakt_korisnika.value,
        email: email.value,
        spol: spol.value,
        tezina_korisnika: tezina_korisnika.value,
        visina_korisnika: visina_korisnika.value,
        datumrod_korisnika: datumrod_korisnika.value

      };

      await updateDoc(docRef, updatedData);
    };

    return {
      ime_korisnika,
      prezime_korisnika,
      kontakt_korisnika,
      email,
      spol,
      tezina_korisnika,
      visina_korisnika,
      datumrod_korisnika,
      editing,
      toggleEditing,
      toggleLeftDrawer
    };
  },
};
</script>


<style>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.centered-content {
  width: 100%;
  max-width: 200px; 
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.form-header {
  color: #5c6bc0;
  font-weight: bold;
}

.glossy {
  margin-top: 20px;
}

.footer {
  background-color: rgba(2, 122, 227, 0.849);
  border: none;
  color: rgb(245, 243, 243);
  size: 30px;
}
</style>