<template>
  <q-page class="q-pa-md">
    <q-header reveal elevated>
      <q-toolbar>
        <q-item clickable v-ripple>
          <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
        </q-item>
        <h3>POČETNA STRANICA</h3>
      </q-toolbar>
    </q-header>

    <div class="q-pa-md">
  <div class="row q-col-gutter-md">
    <div class="col-12 col-md-6">
      <div style="display:flex;">
        <div class="card-container" style="flex: 1;" @click="openTrainerReviewPage">
          <q-card class="my-card" style="margin: 50px 10px; background-color: #f2f2f2;">
            <q-img src="towfiqu-barbhuiya-0ZUoBtLw3y4-unsplash.jpg" style="max-height: 3000px;">
              <div class="absolute-bottom text-h6 center">
                Ocijenite naše trenere!
              </div>
              <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                Photo by Towfiqu barbhuiya on Unsplash
              </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
              Ovdje možete pristupiti sustavu za ocjenjivanje i pisanju recenzija o trenerima!
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div style="display:flex;">
        <div class="card-container" style="flex: 1;">
          <q-card class="my-card" style="margin: 50px 20px; background-color: #f2f2f2;">
            <q-card-section>
              <q-img src="pexels-leon-ardho-1552252.jpg" style="max-height: 3000px;"> 
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.6;">
                  Photo by Leon Ardho
                </div>
              </q-img>
              <div class="text-h5 q-mt-sm q-mb-xs">Još nemate trenera?</div>
              <div class="text-caption text-grey">
                Preko padajućeg izbornika pošaljite zahtjev nekom od ponuđenih trenera
              </div>
              <q-select v-model="selectedOption" :options="options" option-value="docId" option-label="name" label="Odaberite trenera" />
            </q-card-section>
            <q-card-actions>
              <q-btn flat color="primary" label="Spremi" @click.prevent="sendRequestToTrainer" />
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</div>

    <q-dialog v-model="hasTrainer" persistent>
      <q-card class="my-card" border flat bordered style="max-width: 100%;">
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Već imate trenera. Molimo vas da ga kontaktirate kako biste bili uklonjeni s popisa klijenata. Nakon toga, možete poslati novi zahtjev drugom treneru.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="U redu" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="hasTrainerRequest" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Već ste poslali zahtjev treneru, molim Vas pričekajte da Vas prihvati ili odbije.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="U redu" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="sentRequest" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Zahtjev je uspješno poslan!</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="U redu" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
  
  <script>
  import { ref, onMounted, inject } from 'vue';
  import { collection, getDocs, getDoc, doc, addDoc, query, where } from 'firebase/firestore';
  import { db } from 'boot/firebase';
  import { getAuth } from 'firebase/auth';
  import { useRouter } from 'vue-router';
  export default {
    beforeMount() {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    },
    setup() {
      const authInstance = getAuth();
      const selectedOption = ref(null);
      const hasTrainer = ref(false);
      const hasTrainerRequest = ref(false);
      const sentRequest = ref(false);
      const options = ref([]);
      const toggleLeftDrawer = inject('toggleLeftDrawer');
      const router = useRouter();
  // metoda za dohvaćanje trenera 
  const fetchTrainers = async () => {
  try {
    const querySnapshot = await getDocs(collection(db, 'Treneri'));
    options.value = querySnapshot.docs.map((doc) => {
      const data = doc.data();
      
      return {
        docId: doc.id, 
        name: `${data.ime_korisnika} ${data.prezime_korisnika}` 
      };
    });
  } catch (error) {
    console.error('Greška u dohvaćanju trenera:', error);
  }
};

     
  
      onMounted(fetchTrainers);
  
      const openTrainerReviewPage = () => {
        router.push({ path: '/klijent/KlijentOdabirTrenerRecenzija' });
      };
  
  
   // metoda za slanje zahtjeva odabranom treneru
   const sendRequestToTrainer = async () => {
  if (authInstance.currentUser) {
    const clientId = authInstance.currentUser.uid;
    const clientEmail = authInstance.currentUser.email;

    // metoda koja provjerava postoji li trener za klijenta
    const trainersCollectionRef = collection(db, 'Treneri');
    const trainersSnapshot = await getDocs(trainersCollectionRef);

    for (const trainerDoc of trainersSnapshot.docs) {
      const clientsCollectionRef = collection(trainerDoc.ref, 'Klijenti');
      const clientsQuery = query(clientsCollectionRef, where('email', '==', clientEmail));
      const clientsSnapshot = await getDocs(clientsQuery);

      if (!clientsSnapshot.empty) {
          hasTrainer.value = true; 
          selectedOption.value = null;
          return; // Prekidanje funkcije ako postoji trener
        }
    }

    // metoda koja provjerava postoji li već aktivan zahtjev klijenta
    const requestsCollectionRef = collection(db, 'Zahtjevi');
    const requestsQuery = query(requestsCollectionRef, where("clientId", "==", clientId));
    const requestsSnapshot = await getDocs(requestsQuery);

    if (!requestsSnapshot.empty) {
      hasTrainerRequest.value = true; 
      selectedOption.value = null;
      return; // Prekid funkcije ako postoji već aktivan zahtjev
    }

    // Ako ne postoji aktivan zahtjev ili klijent već nema trenera, nastavlja se s kreiranjem novog zahtjeva
    const selectedTrainer = selectedOption.value;
    const clientDoc = await getDoc(doc(db, 'Klijenti', clientId));
    const clientData = { ...clientDoc.data() };

    try {
      await addDoc(collection(db, 'Zahtjevi'), {
        clientId: clientId,
        trainerId: selectedTrainer.docId,
        clientData: clientData,
      });
      sentRequest.value = true;
      selectedOption.value = null; 
    } catch (error) {
      console.error('Greška u slanju zahtjeva treneru:', error);
    }
  }
};
      return {
        selectedOption,
        options,
        openTrainerReviewPage,
        sendRequestToTrainer,
        hasTrainer,
        hasTrainerRequest,
        toggleLeftDrawer,
        sentRequest,
       
      };
    },
  };
  </script>
<style scoped>
.card-container {
  display: flex;
  flex-direction: row;
  gap: 30px; 
  justify-content: flex-start; 
  align-items: flex-start;
}

.my-card, .card {
  flex: 1 1 300px; 
  margin: 30px; 
  min-height: 350px;
}


.my-card {
  margin-left: 0; 
}


.q-img {
  width: 100%; 
  height: auto; 
}

.text-h6, .text-h5, .text-caption {
  margin-bottom: 10px; 
}

</style>