<template>
  <q-page padding :style="{ maxWidth: '1200px', margin: '0 auto' }">
    <q-card>
      <!-- Client Info sekcija -->
      <q-card-section class="row items-center">
        <q-avatar>
          <img :src="clientInfo.avatarUrl">
        </q-avatar>
        <div class="text-h6 q-ml-sm">
          {{ clientInfo.ime_korisnika }} {{ clientInfo.prezime_korisnika }}
        </div>
      </q-card-section>

      <q-separator />

      <!-- Chat Messages sekcija -->
      <q-card-section class="chat-window">
        <q-chat-message
  v-for="message in messages"
  :key="message.id"
  :name="message.sender === 'client' ? clientInfo.ime_korisnika.split(' ')[0] : trainerInfo.ime_trenera"
  :text="[message.content]"
  :sent="message.sender === 'trainer'" 
/>
      </q-card-section>

      <q-separator />

      <!-- Message Input sekcija -->
      <q-card-section>
        <q-form @submit.prevent="sendMsg" class="row q-gutter-sm">
          <q-input
            filled
            v-model="newMsg"
            type="text"
            placeholder="Unesite poruku..."
            class="col-grow"
          />
          <q-btn icon="send" type="submit" color="primary" />
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>

import { db } from 'boot/firebase';
import { collection, addDoc, serverTimestamp, query, orderBy, onSnapshot, doc, getDoc } from 'firebase/firestore';
import { getAuth } from 'firebase/auth';

export default {
  data() {
    return {
      newMsg: '',
      messages: [],
      clientId: '',
      trainerId: '',
      trainerInfo: {
        ime_trenera: '',
      },
      clientInfo: {
        ime_korisnika: '',
        prezime_korisnika: '',
        avatarUrl: '',
        spol: ''
      }
    };
  },
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  async mounted() {
    const auth = getAuth();
    const user = auth.currentUser;
    if (user) {
      this.trainerId = user.uid;
      await this.fetchTrainerInfo();
      this.clientId = this.$route.params.id;
      await this.fetchClientInfo();
      this.listenForMessages();
    } else {
      console.log('Korisnik nije prijavljen!');
    }
  },
  methods: {
    // dohvaća informacije o treneru iz baze, ako dokument postoji, dohvaća se ime trenera
    async fetchTrainerInfo() {
      const trainerRef = doc(db, 'Treneri', this.trainerId);
      const docSnap = await getDoc(trainerRef);
      if (docSnap.exists()) {
        const trainerData = docSnap.data();
        this.trainerInfo.ime_trenera = trainerData.ime_korisnika;
      } else {
        console.log('Nema trenera!');
      }
    },
    // funkcija koja vraća URL na temelju spola klijenta
    getAvatarUrl(spol) {
      if (spol === 'Muško') {
        return 'https://cdn.quasar.dev/img/boy-avatar.png';
      } else if (spol === 'Žensko') {
        return 'https://img.freepik.com/premium-vector/face-cute-girl-avatar-young-girl-portrait-vector-flat-illustration_192760-82.jpg?w=2000';
      } 
    },
    // metoda koja se aktivira kada trener šalje poruku
    async sendMsg() {
      if (this.newMsg.trim() !== '') {
        const conversationRef = collection(db, 'Treneri', this.trainerId, 'Klijenti', this.clientId, 'Poruke');
        await addDoc(conversationRef, {
          sender: 'trainer',
          content: this.newMsg,
          createdAt: serverTimestamp()
        });
        this.newMsg = '';
      }
    },
    // metoda koja postavlja slušatelja na Firestore kolekciju Poruke kako bi se u stvarnom vremenu ažurirale poruke između trenera i klijenta
    listenForMessages() {
      const messagesRef = collection(db, 'Treneri', this.trainerId, 'Klijenti', this.clientId, 'Poruke');
      const messagesQuery = query(messagesRef, orderBy('createdAt', 'asc'));
      onSnapshot(messagesQuery, (snapshot) => {
        this.messages = snapshot.docs.map((doc) => ({
          id: doc.id,
          ...doc.data()
        }));
      });
    },
    // metoda koja dohvaća informacije o klijentu na temelju clientId i TrainerId. 
    async fetchClientInfo() {
      const clientRef = doc(db, 'Treneri', this.trainerId, 'Klijenti', this.clientId);
      const docSnap = await getDoc(clientRef);
      if (docSnap.exists()) {
        const clientData = docSnap.data();
        this.clientInfo.ime_korisnika = clientData.ime_korisnika;
        this.clientInfo.prezime_korisnika = clientData.prezime_korisnika;
        this.clientInfo.spol = clientData.spol;
        this.clientInfo.avatarUrl = this.getAvatarUrl(clientData.spol);
      } else {
        console.error('Nema klijenta!');
      }
    },
    // metoda za stiliziranje poruka u chatu, ako trener šalje, onda je s desne strane, ako šalje klijent onda je s lijeve
    getMessageClass(sender) {
  return sender === 'trainer' ? 'flex flex-end text-right' : 'flex flex-start';
},
// metoda za određivanje boje 
    getMessageColor(sender) {
    return sender === 'client' ? 'secondary' : 'primary';
  },
  }
};
</script>

<style scoped>
.chat-window {
  background: #f2f2f2;
  height: 500px; 
  overflow-y: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.message-header {
  margin-bottom: 4px;
  font-weight: bold;
}

.q-chip {
  max-width: 80%;
  word-break: break-word;
}


.trainer-chip {
  background: #027be3;
  color: white;
}
</style>
