<template>
    <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3>CHAT SUSTAV</h3>
    </q-toolbar>
  </q-header>
  
      <!-- Lista klijenata -->
      <q-list bordered separator>
        <q-item-label header>KLIJENTI</q-item-label>
        <q-item v-for="client in clients" :key="client.id" clickable v-ripple @click="selectClient(client.id)">
          <q-item-section avatar>
            <q-avatar>
            
              <img :src="client.avatar">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            {{ client.name }}
          </q-item-section>
          <q-item-section side top>
            <q-btn flat icon="chat" @click.stop="startChatWithClient(client.id)" />
          </q-item-section>
        </q-item>
      </q-list>
  </template>
  
  <script>
  import { ref, onMounted, inject } from 'vue';
  import { useRouter } from 'vue-router';
  import { getAuth, onAuthStateChanged } from 'firebase/auth';
  import { collection, query, getDocs } from 'firebase/firestore';
  import { db } from 'boot/firebase';
  
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    setup() {
      const router = useRouter();
      const clients = ref([]);
      const toggleLeftDrawer = inject('toggleLeftDrawer');
  
      // metoda za dobivanje URL-a avatara
      const getAvatarUrl = async (spol) => {
        if (spol === 'Muško') {
          return 'https://cdn.quasar.dev/img/boy-avatar.png';
        } else if (spol === 'Žensko') {
          return 'https://img.freepik.com/premium-vector/face-cute-girl-avatar-young-girl-portrait-vector-flat-illustration_192760-82.jpg?w=2000';
        } 
      };
  
      onMounted(async () => {
        const authInstance = getAuth();
        onAuthStateChanged(authInstance, async (user) => {
          if (user) {
            const trainerId = user.uid;
            const q = query(collection(db, 'Treneri', trainerId, 'Klijenti'));
            const querySnapshot = await getDocs(q);
            clients.value = await Promise.all(querySnapshot.docs.map(async (doc) => {
              const data = doc.data();
              const avatarUrl = await getAvatarUrl(data.spol);
              return {
                id: doc.id,
                name: `${data.ime_korisnika} ${data.prezime_korisnika}`,
                avatar: avatarUrl,
              };
            }));
          } else {
            clients.value = [];
          }
        });
      });
  
      const selectClient = (clientId) => {
        // Ova metoda može preusmjeriti na stranicu s detaljima klijenta ako je potrebno
        console.log(`Klijent ${clientId} odabran`);
      };
  
      const startChatWithClient = (clientId) => {
        console.log(`Početak chata s klijentom ${clientId}`);
        // Ažurirana metoda za navigaciju na stranicu 'ChatTrener'
        router.push({ name: 'ChatTrener', params: { id: clientId } });
      };
  
      return {
        clients,
        selectClient,
        startChatWithClient,
        toggleLeftDrawer
      };
    },
  };
  </script>
  