<template>
  <q-page class="q-pa-md">
    <q-header reveal elevated>
      <q-toolbar>
        <q-item clickable v-ripple>
          <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
        </q-item>
        <h3>POČETNA STRANICA</h3>
      </q-toolbar>
    </q-header>

    
    <div class="q-pa-md">
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6">
          <q-card class="my-card" border flat bordered style="max-width: 100%;">
            <q-img src="victor-freitas-hOuJYX2K5DA-unsplash.jpg">
              <div class="absolute-bottom text-caption" style="font-size: 12px; color: white; opacity: 0.8; text-align: left; width: 100%;">
                Photo by Victor Freitas on Unsplash
              </div>
            </q-img>
            <q-card-section>
              <div class="text-overline text-orange-9">https://www.fitness.com.hr/</div>
              <div class="text-h5 q-mt-sm q-mb-xs">Najveći fitness portal u Hrvatskoj</div>
              <div class="text-caption text-grey">
                Najveći fitness portal u Hrvatskoj. Svakodnevno pratite naše stručne savjete vezano za vježbanje, zdravu prehranu, mršavljenje i zdravlje.
              </div>
            </q-card-section>
            <q-card-actions>
              <q-btn flat color="primary" @click="openFitnessPage" label="Otvori" />
              <q-space />
            </q-card-actions>
          </q-card>
        </div>

        <div class="col-12 col-md-6">
          <q-card class="q-my-md" flat bordered>
            <q-card-section>
                <h3>BILJEŠKE</h3>
                <q-input v-model="noteTitle" label="Unesite naslov..." :rules="runValidation ? [val => !!val || 'Naslov je obavezan'] : []"> </q-input>
                <q-input v-model="noteContent" label="Unesite sadržaj..." type="textarea" :rules="runValidation ? [val => !!val || 'Sadržaj je obavezan'] : []"></q-input>
                <q-btn :disabled="!noteTitle || !noteContent" @click="saveNote" color="primary">Spremi bilješku</q-btn>
              </q-card-section>
            <q-card-section>
              <q-table :rows="notes.sort((a, b) => b.id - a.id)" :columns="columns" row-key="id">
                <template v-slot:body-cell-edit="props">
                  <q-td class="text-center">
                    <q-btn color="primary" dense icon="edit" @click="editNote(props.row.id)" />
                  </q-td>
                </template>
                <template v-slot:body-cell-delete="props">
                  <q-td class="text-center">
                    <q-btn color="negative" dense icon="delete" @click="deleteNote(props.row.id)" />
                  </q-td>
                </template>
              </q-table>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, onMounted, inject } from 'vue';
import { addDoc, collection, onSnapshot, updateDoc, doc, deleteDoc } from "firebase/firestore";
import { db } from "boot/firebase";
import { getAuth, onAuthStateChanged } from 'firebase/auth';

export default {
  setup() {
    const notes = ref([]);
    const noteTitle = ref("");
    const noteContent = ref("");
    const editNoteId = ref(null);
    const user = ref(null);
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const columns = ref([
      { name: "title", required: true, label: "Naslov", align: "left", field: "title", sortable: true },
      { name: "content", align: "left", label: "Sadržaj", field: "content", sortable: true },
      { name: "edit", label: "", align: "center", sortable: false },
      { name: "delete", label: "", align: "center", sortable: false }
    ]);
    const runValidation = ref(false);

    onMounted(() => {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }

      const auth = getAuth();
      onAuthStateChanged(auth, (authUser) => {
        if (authUser) {
          user.value = authUser;
          const userId = authUser.uid;
          const notesCollectionRef = collection(db, `Treneri/${userId}/biljeske`);
          onSnapshot(notesCollectionRef, (snapshot) => {
            notes.value = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
          });
        }
      });
    });
   
  


    const saveNote = async () => {
      runValidation.value = true;

      if (!noteTitle.value || !noteContent.value) {
        return;
      }

      if (!user.value || !user.value.uid) {
        return;
      }

      const userId = user.value.uid;
      let noteRef;
      const newNote = {
        title: noteTitle.value,
        content: noteContent.value,
      };

      if (editNoteId.value) {
        noteRef = doc(db, `Treneri/${userId}/biljeske`, editNoteId.value);
        await updateDoc(noteRef, newNote);
      } else {
        noteRef = await addDoc(collection(db, `Treneri/${userId}/biljeske`), newNote);
      }

      noteTitle.value = "";
      noteContent.value = "";
      editNoteId.value = null;
      runValidation.value = false;
    };

    const deleteNote = async (id) => {
      if (!user.value || !user.value.uid) {
        return;
      }

      const userId = user.value.uid;
      await deleteDoc(doc(db, `Treneri/${userId}/biljeske`, id));
      notes.value = notes.value.filter(note => note.id !== id);
    };

    const editNote = (id) => {
      const note = notes.value.find(note => note.id === id);
      noteTitle.value = note.title;
      noteContent.value = note.content;
      editNoteId.value = id;
    };

    const openFitnessPage = () => {
      window.open("https://www.fitness.com.hr/", "_blank");
    };

    const openFitPage = () => {
      window.open("https://budi-fit.hr/fitness-blog/", "_blank");
    };

    const openFitkaPage = () => {
      window.open("https://fitka.hr/", "_blank");
    };

    return {
      notes,
      noteTitle,
      noteContent,
      editNoteId,
      columns,
      user,
      saveNote,
      deleteNote,
      editNote,
      openFitnessPage,
      openFitPage,
      openFitkaPage,
      runValidation,
      toggleLeftDrawer
    };
  }
}
</script>
<style> 

.footer{
  background-color: rgba(2, 122, 227, 0.831);
height: 50px;
}
 
    .note-form-container {
  display: center;
  justify-content: flex-end;
  flex-grow: 1;
}
</style>