<template>
    <q-page class="q-pa-md">
      <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3> AŽURIRANJE PLANA PREHRANE</h3>
    </q-toolbar>
  </q-header>

  <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Ažurirajte jela u planu prehrane!</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>
      <!-- Dropdown za odabir dana -->
      <div class="q-mb-md">
        <q-select filled v-model="selectedDay" :options="dayOptions" label="Odaberite dan u tjednu" emit-value map-options />
      </div>
  
      <!-- Dropdown za odabir obroka -->
      <div v-if="selectedDay" class="q-mb-md">
        <q-select filled v-model="selectedMeal" :options="mealOptions" label="Odaberite obrok" emit-value map-options />
      </div>
  
      <!-- Lista jela za odabrani obrok -->
      <div v-if="selectedMeal">
        <div v-for="(meal, index) in meals" :key="index" class="q-mb-md">
          <q-card>
            <q-card-section>
              <div class="text-h6">{{ meal.name }}</div>
              <div>{{ meal.description }}</div>
              <q-img :src="meal.imageUrl" style="max-width: 200px; max-height: 200px;" />
            </q-card-section>
            <q-card-actions align="right">
              <q-btn label="Ažuriraj" color="primary" @click="openUpdateMealModal(meal)" />
              <q-btn label="Obriši" color="negative" @click="deleteMeal(meal.id)" />
            </q-card-actions>
          </q-card>
        </div>
        <div class="text-right q-mb-md">
  <q-btn label="Dodaj novo jelo" color="positive" @click="addNewMeal" />
</div>
      </div>
  
      <!-- Dijaloški prozor za ažuriranje jela -->
      <q-dialog v-model="showUpdateModal" full-width max-width="400px">
        <q-card>
          <q-card-section>
            <div class="text-h6" style="color: #027be3;">Ažuriranje jela</div>
            <q-form @submit.prevent="saveUpdatedMeal">
              <q-select filled v-model="selectedMealId" :options="mealsOptions" label="Odaberite jelo" emit-value map-options @update:model-value="handleMealSelection" class="q-mb-md" />
              <q-input filled v-if="updatedMeal.name" v-model="updatedMeal.name" label="Opis jela" type="text" class="q-mb-md" />
              <q-input filled v-if="updatedMeal.description" v-model="updatedMeal.description" label="Opis jela" type="textarea" class="q-mb-md" />
              <q-img v-if="updatedMeal.imageUrl" :src="updatedMeal.imageUrl" style="max-width: 200px; max-height: 200px;" />
              <q-btn label="Spremi promjene" type="submit" color="primary" class="full-width" />
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </q-page>
  </template>


<script>
import { ref, watch, onMounted, inject } from 'vue';
import { useRoute } from 'vue-router';
import { db } from 'boot/firebase';
import {
  collection,
  getDocs,
  doc,
  updateDoc,
  deleteDoc,
  addDoc,
  getDoc
} from 'firebase/firestore';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      window.location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const route = useRoute();
    const dietPlanId = route.params.dietPlanId;
    const selectedDay = ref(null);
    const selectedMeal = ref(null);
    const meals = ref([]);
    const mealsOptions = ref([]);
    const selectedMealId = ref('');
    const updatedMeal = ref({ name: '', description: '', imageUrl: '' });
    const showUpdateModal = ref(false);
    const originalMealId = ref('');
    const toggleLeftDrawer = inject('toggleLeftDrawer');

    const dayOptions = [
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Četvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ];
    const mealOptions = [
      { label: 'Doručak', value: 'Doručak' },
      { label: 'Ručak', value: 'Ručak' },
      { label: 'Užina', value: 'Užina' },
      { label: 'Večera', value: 'Večera' },
    ];

    onMounted(async () => {
      await loadMealsOptions();
    });

    watch([selectedDay, selectedMeal], async () => {
      if (selectedDay.value && selectedMeal.value) {
        await fetchMealsForSelectedDayAndMeal();
      }
    });

    const fetchMealsForSelectedDayAndMeal = async () => {
      if (selectedDay.value && selectedMeal.value) {
        try {
          const mealsRef = collection(db, 'PlanPrehrane', dietPlanId, selectedDay.value, selectedMeal.value, 'jela');
          const snapshot = await getDocs(mealsRef);
          meals.value = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
        } catch (error) {
          console.error("Greška u dohvaćanju jela:", error);
        }
      }
    };

    const loadMealsOptions = async () => {
      try {
        const snapshot = await getDocs(collection(db, "hrana"));
        mealsOptions.value = snapshot.docs.map(doc => ({
          label: doc.data().name,
          value: doc.id,
          ...doc.data()
        }));
      } catch (error) {
        console.error("Greška u učitavanju jela:", error);
      }
    };

    const openUpdateMealModal = (meal) => {
      console.log("Otvaram modal za ažuriranje jela s ID:", meal.id);
      originalMealId.value = meal.id;
      updatedMeal.value = { ...meal };
      showUpdateModal.value = true;
    };

    const handleMealSelection = async (id) => {
      const mealDoc = await getDoc(doc(db, "hrana", id));
      if (mealDoc.exists()) {
        updatedMeal.value = {
          name: mealDoc.data().name,
          description: mealDoc.data().description,
          imageUrl: mealDoc.data().imageUrl
        };
      }
    };

    const saveUpdatedMeal = async () => {
      if (!originalMealId.value || !selectedDay.value || !selectedMeal.value) return;

      console.log("Spremanje ažuriranja za jelo s ID:", originalMealId.value);
      try {
        const mealRef = doc(db, 'Plan prehrane', dietPlanId, selectedDay.value, selectedMeal.value, 'jela', originalMealId.value);
        const updatedData = {
          name: updatedMeal.value.name,
          description: updatedMeal.value.description,
          imageUrl: updatedMeal.value.imageUrl
        };

        await updateDoc(mealRef, updatedData);

        console.log("Jelo uspješno ažurirano!");
        showUpdateModal.value = false;
        await fetchMealsForSelectedDayAndMeal();
      } catch (error) {
        console.error("Greška u ažuriranju jela:", error);
      }
    };

    const deleteMeal = async (mealId) => {
      if (!mealId || !selectedDay.value || !selectedMeal.value) return;

      try {
        const mealRef = doc(db, 'Plan prehrane', dietPlanId, selectedDay.value, selectedMeal.value, 'jela', mealId);

        await deleteDoc(mealRef);

        console.log("Jelo uspješno izbrisano!");
        await fetchMealsForSelectedDayAndMeal();
      } catch (error) {
        console.error("Greška u brisanju jela:", error);
      }
    };

    const addNewMeal = async () => {
  // Provjerava jesu li odabrani dan i obrok prije nego što nastavi
  if (!selectedDay.value || !selectedMeal.value) return;

  try {
    // Kreira referencu za kolekciju u koju će dodati novo jelo
    const mealCollectionRef = collection(db, 'Plan prehrane', dietPlanId, selectedDay.value, selectedMeal.value, 'jela');
    
    // Definira podatke za novo jelo
    const newMealData = {
      name: "Novo jelo",
      description: "Opis novog jela",
      imageUrl: "URL slike novog jela"
    };
    
    // Dodaje novo jelo u bazu podataka
    await addDoc(mealCollectionRef, newMealData);
    
    // Ispisuje poruku u konzoli o uspješnom dodavanju
    console.log("Novo jelo uspješno dodano!");
    
    // Resetira odabrano jelo i ažurira stanje za prikazivanje promjena
    selectedMealId.value = '';
    updatedMeal.value = { name: '', description: '', imageUrl: '' };
    showUpdateModal.value = false;
    
    // Osvježava prikaz jela za odabrani dan i obrok
    await fetchMealsForSelectedDayAndMeal();
  } catch (error) {
    // Ispisuje poruku o grešci ako dodavanje novog jela ne uspije
    console.error("Greška u dodavanju novog jela!", error);
  }
};
    return {
      selectedDay,
      selectedMeal,
      meals,
      mealsOptions,
      updatedMeal,
      selectedMealId,
      showUpdateModal,
      originalMealId,
      dayOptions,
      mealOptions,
      openUpdateMealModal,
      handleMealSelection,
      saveUpdatedMeal,
      loadMealsOptions,
      deleteMeal,
      addNewMeal,
      toggleLeftDrawer
    };
  }
}
</script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>