<template>
   <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple >
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3> UNOS PROGRAMA VJEŽBI</h3>
    </q-toolbar>
  </q-header>
    <q-page class="row items-start q-pa-md justify-center">
      <div class="form-container col-12 col-md-6 q-pa-md q-gutter-sm" style="border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div class="form-header text-h5 text-center q-py-md">Ispunite obrazac za unos novog programa vježbi u sustav!</div>
       
        <q-form class="q-gutter-md" @submit.prevent="saveProgramAndContinue">
          <q-input filled v-model="program.name" label="Naziv programa" class="q-mb-md" />
          <q-input filled v-model="program.description" label="Opis programa" type="textarea" class="q-mb-md" />
     
          <div class="text-center q-pt-md">
            <q-btn label="Dalje" type="submit" color="primary" :disabled="canProceed" />
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
   
  <script>
  import { ref, computed, inject } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { db } from 'boot/firebase';
  import { collection, addDoc } from 'firebase/firestore';
  import { getAuth, onAuthStateChanged } from 'firebase/auth';
   
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    beforeMount() {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    },
   
    setup() {
      const route = useRoute();
      const router = useRouter();
      const auth = getAuth();
      const user = ref(auth.currentUser);
      const trainerId = computed(() => user.value?.uid);
      const clientId = route.params.id; // ID klijenta preuzet iz rute
      const toggleLeftDrawer = inject('toggleLeftDrawer');
      const program = ref({
        name: '',
        description: ''
      });

  const canProceed = computed(() => {
  return !program.value.name || !program.value.description.trim();
});
  
   // metoda za spremanje programa vježbi i navigacija na stranicu TrenerProgramVjezbi
      const saveProgramAndContinue = async () => {
        if (!program.value.name || !program.value.description) {
          console.error('Sva polja moraju biti popunjena!');
          return;
        }
        try {
          const docRef = await addDoc(collection(db, 'programi'), {
            name: program.value.name,
            description: program.value.description,
            trainerId: trainerId.value,
            clientId: clientId
          });
          router.push({ name: 'TrenerProgramVjezbi', params: { programId: docRef.id, clientId: clientId } });
        } catch (error) {
          console.error('Greška kod spremanja programa:', error);
        }
      };
   
      return {
        program,
        saveProgramAndContinue,
        canProceed,
        toggleLeftDrawer
      };
    }
  };
  </script>

  <style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>