<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

      </q-item>
      <h3>ZAHTJEVI KLIJENATA</h3>
    </q-toolbar>
  </q-header>
  
  <q-page class="q-pa-md">
    <div class="q-pa-md">
      <q-list bordered class="rounded-borders shadow-2">
        <q-item v-for="request in requests" :key="request.id" clickable v-ripple>
          <q-item-section avatar>
            <q-avatar icon="person" color="primary" text-color="white"></q-avatar>
          </q-item-section>
          <q-item-section>
            {{ request.clientData.ime_korisnika }} {{ request.clientData.prezime_korisnika }}
          </q-item-section>
          <q-item-section side top>
            <q-btn flat icon="check" color="positive" @click="acceptRequest(request.id)" label="Prihvati" class="q-mr-xs"></q-btn>
          </q-item-section>
          <q-item-section>
            <q-btn flat icon="close" color="negative" @click="denyRequest(request.id)" label="Odbij"></q-btn>
          </q-item-section>
        </q-item>
        <q-separator v-if="requests.length > 0" />
      </q-list>
      <div v-if="requests.length === 0" class="text-subtitle1 text-center q-my-md">Nema novih zahtjeva.</div>
    </div>
  </q-page>
</template>

  <script>
  import { ref, onMounted, inject } from 'vue';

  import { db } from 'src/boot/firebase';
  import { getAuth } from 'firebase/auth';
  import { collection, query, where, onSnapshot, addDoc, deleteDoc, doc } from 'firebase/firestore';
  
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    setup() {
      const authInstance = getAuth();
      const trainerId = authInstance.currentUser.uid;
      const requests = ref([]);
      const toggleLeftDrawer = inject('toggleLeftDrawer');
      // metoda za dohvaćanje zahtjeva koji su za tog trenera
      const fetchRequestsSentByClients = () => {
        
        const q = query(collection(db, 'Zahtjevi'), where('trainerId', '==', trainerId));
  
        onSnapshot(q, (querySnapshot) => {
          requests.value = querySnapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
        }, (error) => {
          console.error("Greška u dohvaćanju zahtjeva ", error);
         
        });
      };
    // metoda za prihvaćanje zahtjeva
      const acceptRequest = async (requestId) => {
  const request = requests.value.find(request => request.id === requestId);
  if (!request) return;

  try {
    // nakon prihvaćanja zahtjeva klijent se zapisuje u bazi podataka pod tim trenerom
    await addDoc(collection(db, 'Treneri', trainerId, 'Klijenti'), request.clientData);
    // Nakon uspješnog dodavanja, uklanja se request iz kolekcije 'Zahtjevi'
    await deleteDoc(doc(db, 'Zahtjevi', requestId));

    // Osvježavanje zahtjeva
    fetchRequestsSentByClients();
  } catch (error) { 
    console.error('Greška u obradi zahtjeva:', error);
  }
};
  // metoda za odbijanje zahtjeva
      const denyRequest = async (requestId) => {

        await deleteDoc(doc(db, 'Zahtjevi', requestId));
      };
  
      onMounted(fetchRequestsSentByClients);
  
      return {
        requests,
        acceptRequest,
        denyRequest,
        toggleLeftDrawer
      };
    },
  };
  </script>
  
  