<template>
  <q-page class="q-pa-md">
    <q-header elevated>
      <q-toolbar>
        <q-item clickable v-ripple>
          <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="toggleLeftDrawer"
          />
        </q-item>
        <h3>AŽURIRANJE PROGRAMA VJEŽBI</h3>
      </q-toolbar>
    </q-header>
    
    <div class="text-center q-pb-lg">
      <div class="form-header text-h5 text-center q-py-md">Ažurirajte vježbe u programu vježbi!</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>
    
<!-- padajući izbornik tjedna -->
<div class="q-pa-md">
    <q-select
      filled
      v-model="selectedWeek"
      :options="weekOptions"
      label="Odaberite tjedan"
      emit-value
      map-options
      class="q-mb-md"
    />

   <!-- padajući izbornik dana -->
    <q-select
      v-if="selectedWeek"
      filled
      v-model="selectedDay"
      :options="dayOptions"
      label="Odaberite dan"
      emit-value
      map-options
      class="q-mb-md"
    />

    <!-- Lista vježbi za odabrani dan -->
    <div v-if="selectedDay">
      <div v-for="(exercise, index) in exercises" :key="index" class="q-mb-md">
        <q-card>
          <q-card-section>
            <div class="text-h6">{{ exercise.name }}</div>
            <div>{{ exercise.description }}</div>
            <q-img :src="exercise.imageUrl" style="max-width: 200px; max-height: 200px;" />
          </q-card-section>
          <q-card-actions align="right">
            <q-btn label="Ažuriraj" color="primary" @click="openUpdateExerciseModal(exercise)" />
            <q-btn label="Obriši" color="negative" @click="deleteExercise(exercise.id)" />
          </q-card-actions>
        </q-card>
      </div>
      <div class="text-right q-mb-md">
        <q-btn label="Dodaj novu vježbu" color="positive" @click="addNewExercise" />
      </div>
    </div>
    </div>

    <!-- Dijaloški prozor za ažuriranje vježbi -->
    <q-dialog v-model="showUpdateModal" full-width max-width="400px">
      <q-card>
        <q-card-section>
          <div class="text-h6" style="color: #027be3;">Ažuriranje vježbe
          </div>
          <q-form @submit.prevent="saveUpdatedExercise">
            <q-select
              filled
              v-model="selectedExerciseId"
              :options="exercisesOptions"
              label="Odaberite vježbu"
              emit-value
              map-options
              @update:model-value="handleExerciseSelection"
              class="q-mb-md"
            />
            <q-input filled v-if="selectedExercise.name" v-model="selectedExercise.name" label="Naziv vježbe" type="text" class="q-mb-md" />
            <q-input filled v-if="selectedExercise.description" v-model="selectedExercise.description" label="Opis vježbe" type="textarea" class="q-mb-md" />
            <div class="text-center q-my-md">
              <q-img v-if="selectedExercise.imageUrl" :src="selectedExercise.imageUrl" style="max-width: 200px; max-height: 200px;" />
            </div>
            <q-btn label="Spremi promjene" type="submit" color="primary" class="full-width" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>
 
<script>
import { ref, watch, onMounted, inject } from 'vue';
import { useRoute } from 'vue-router';
import { db } from 'boot/firebase';
import { collection, getDocs, doc, updateDoc, deleteDoc, addDoc } from 'firebase/firestore';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const route = useRoute();
    const programId = route.params.programId;
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const selectedWeek= ref(null);
    const selectedDay = ref(null);
    const exercises = ref([]);
    const exercisesOptions = ref([]);
    const selectedExerciseId = ref('');
    const selectedExercise = ref({});
    const showUpdateModal = ref(false);
    const originalExerciseId = ref('');
    const weekOptions = ref([
      { label: 'Tjedan 1', value: 'Tjedan 1' },
      { label: 'Tjedan 2', value: 'Tjedan 2' },
      { label: 'Tjedan 3', value: 'Tjedan 3' },
      { label: 'Tjedan 4', value: 'Tjedan 4' },
      { label: 'Tjedan 5', value: 'Tjedan 5' },
      { label: 'Tjedan 6', value: 'Tjedan 6' },
      { label: 'Tjedan 7', value: 'Tjedan 7' },
      { label: 'Tjedan 8', value: 'Tjedan 8' },
    ]);
    const dayOptions = [
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Četvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ];

    onMounted(async () => {
      await loadExercisesOptions();
    });

    const loadExercisesOptions = async () => {
      try {
        const snapshot = await getDocs(collection(db, "vjezbe"));
        exercisesOptions.value = snapshot.docs.map(doc => ({
          label: doc.data().name,
          value: doc.id,
          ...doc.data()
        }));
      } catch (error) {
        console.error("Greška u učitavanju opcija za vježbe!", error);
      }
    };

    // Pratimo promjene u odabiru tjenda i dana
    watch([selectedWeek, selectedDay], async () => {
      if (selectedWeek.value && selectedDay.value) {
        await fetchExercisesForDay();
      }
    });

// Ova funkcija se poziva kada se promijeni selectedDay ili selectedWeek
const fetchExercisesForDay = async () => {
  if (selectedWeek.value && selectedDay.value) {
    try {
      const exercisesRef = collection(db, 'programi', programId, 'Tjedni', selectedWeek.value, selectedDay.value);
      const snapshot = await getDocs(exercisesRef);
      exercises.value = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
    } catch (error) {
      console.error("Greška u dohvaćanju vježbi!", error);
    }
  } else {
    exercises.value = []; // Čišćenje vježbi ako tjedan ili dan nisu odabrani
  }
};

    const openUpdateExerciseModal = (exercise) => {
      originalExerciseId.value = exercise.id;
      selectedExercise.value = { ...exercise };
      showUpdateModal.value = true;
    };

    const handleExerciseSelection = (id) => {
      const exercise = exercisesOptions.value.find(e => e.value === id);
      if (exercise) {
        selectedExerciseId.value = id;
        selectedExercise.value = { ...exercise };
      } else {
        selectedExercise.value = {};
      }
    };

    const saveUpdatedExercise = async () => {
  if (!originalExerciseId.value || !selectedWeek.value || !selectedDay.value) return;
  
  try {
    const exerciseRef = doc(db, "programi", programId, "Tjedni", selectedWeek.value, selectedDay.value, originalExerciseId.value);
    const updatedData = {
      name: selectedExercise.value.name,
      description: selectedExercise.value.description,
      imageUrl: selectedExercise.value.imageUrl
    };
    await updateDoc(exerciseRef, updatedData);
    console.log("Vježba uspješno ažurirana!");
    showUpdateModal.value = false;
    await fetchExercisesForDay(selectedDay.value);
  } catch (error) {
    console.error("Greška u ažuriranju vježbe!", error);
  }
};
const deleteExercise = async (exerciseId) => {
  try {
    const exerciseRef = doc(db, "programi", programId, "Tjedni", selectedWeek.value, selectedDay.value, exerciseId);
    await deleteDoc(exerciseRef);
    console.log("Vježba uspješno izbrisana!");
    await fetchExercisesForDay(selectedDay.value);
  } catch (error) {
    console.error("Greška u brisanju vježbe!", error);
  }
};


   const addNewExercise = async () => {
  if (!selectedDay.value) return;
  try {
    const dayCollectionRef = collection(db, "programi", programId, "Tjedni", selectedWeek.value, selectedDay.value);
    const newExerciseData = {
      name: "Nova vježba",
      description: "Opis nove vježbe",
      imageUrl: "URL slike nove vježbe"
    };
    await addDoc(dayCollectionRef, newExerciseData);
    console.log("Nova vježba uspješno dodana");
    selectedExerciseId.value = '';
    selectedExercise.value = {};
    showUpdateModal.value = false;
    await fetchExercisesForDay(selectedDay.value);
  } catch (error) {
    console.error("Greška u dodavanju nove vježbe!", error);
  }
};

    return {
      selectedDay,
      selectedWeek,
      exercises,
      dayOptions,
      weekOptions,
      exercisesOptions,
      selectedExercise,
      showUpdateModal,
      openUpdateExerciseModal,
      handleExerciseSelection,
      saveUpdatedExercise,
      deleteExercise,
      addNewExercise,
      toggleLeftDrawer
    };
  }
};
</script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>