<template>
    <q-page class="row items-start q-pa-md justify-center">
      <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        
      </q-item>
      <h3>AŽURIRANJE PROGRAMA VJEŽBI</h3>
    </q-toolbar>
  </q-header>
      <div class="form-container col-12 col-md-6 q-pa-md q-gutter-sm" style="border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div class="form-header text-h5 text-center q-py-md">Odaberite program vježbi kako biste ga ažurirali!</div>
       
        <q-form class="q-gutter-md">
          <q-select
            filled
            v-model="selectedProgramId"
            :options="programsOptions"
            label="Odaberite program"
            emit-value
            map-options
            class="q-mb-md"
            @update:model-value="fetchProgramDetails"
          />
   
          <q-input filled v-model="selectedProgram.name" label="Naziv programa" class="q-mb-md" />
          <q-input filled v-model="selectedProgram.description" label="Opis programa" type="textarea" class="q-mb-md" />
   
          <div class="text-center q-pt-md">
            <q-btn label="Ažuriraj" color="primary" class="q-mr-md" @click="updateProgram" :disabled="canProceed" />
            <q-btn label="Obriši" color="negative" @click="deleteProgram"  :disabled="canProceed"/>
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
   
  <script>
  import { ref, onMounted, computed, inject } from 'vue';
  import { db } from 'boot/firebase';
  import { collection, getDocs, doc, updateDoc, deleteDoc, getDoc } from 'firebase/firestore';
  import { useRoute, useRouter } from 'vue-router';
   
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    setup() {
      const programsOptions = ref([]);
      const selectedProgramId = ref('');
      const selectedProgram = ref({ name: '', description: '' });
      const route = useRoute();
      const toggleLeftDrawer = inject('toggleLeftDrawer');
      const router = useRouter();
   
      onMounted(async () => {
        await fetchPrograms();
      });
    // dohvaća sve dostupne programe vježbanja iz baze podataka za popunjavanje dropdowma
      const fetchPrograms = async () => {
        try {
          const querySnapshot = await getDocs(collection(db, "programi"));
          programsOptions.value = querySnapshot.docs.map(doc => ({ label: doc.data().name, value: doc.id }));
        } catch (error) {
          console.error("Greška u dohvaćanju programa!", error);
        }
      };
   // kada se odabere program, dohvaća detalje tog programa za prikaz u formu
      const fetchProgramDetails = async (programId) => {
        const docRef = doc(db, "programi", programId);
        try {
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
            selectedProgram.value = {
              name: docSnap.data().name,
              description: docSnap.data().description
            };
          } else {
            console.log("Nema dokumenta!");
            selectedProgram.value = { name: '', description: '' };
          }
        } catch (error) {
          console.error("Greška u dohvaćanju detalja programa:", error);
        }
      };


      const canProceed = computed(() => {
  return  !selectedProgram.value.description.trim();
});
   // ažurira odabrani program vježbanja u bazi podataka s novim informacijama
      const updateProgram = async () => {
   
    try {
      const docRef = doc(db, "programi", selectedProgramId.value);
      await updateDoc(docRef, {
        name: selectedProgram.value.name,
        description: selectedProgram.value.description
      });
      console.log("Program uspješno ažuriran!");
   
      const clientId = route.params.id;
      if (!clientId) {
        console.error('Nema clientId!');
        return;
      }
   
      router.push({
        name: 'TrenerAzuriranjeVjezbiUProgramuBrisanje',
        params: {
          clientId: clientId,
          programId: selectedProgramId.value
        }
      });
    } catch (error) {
      console.error("Greška u ažuriranju programa vježbi!", error);
    }
  };
  // briše odabrani program vježbanja, uključujući sve vježbe povezane s tim programom za svaki dan u tjednu
      const deleteProgram = async () => {
        if (!selectedProgramId.value) {
          console.error('Nema ID programa vježbi, nije moguće izvršiti brisanje!');
          return;
        }
   
        try {
          const programDocRef = doc(db, 'programi', selectedProgramId.value);
   
          // Definiranje dana u tjednu i iterativno brisanje svih vježbi unutar svakog dana
          const days = ['Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota', 'Nedjelja'];
          for (const day of days) {
            const dayCollectionRef = collection(programDocRef, day);
            const exercisesSnapshot = await getDocs(dayCollectionRef);
            for (const exerciseDoc of exercisesSnapshot.docs) {
              await deleteDoc(doc(dayCollectionRef, exerciseDoc.id));
            }
          }
   
          selectedProgramId.value = '';
          selectedProgram.value = { name: '', description: '' };
          await fetchPrograms();
   
          await deleteDoc(programDocRef);
          console.log('Program vježbi uspješno izbrisan!');
        } catch (error) {
          console.error('Greška u brisanju programa vježbi!', error);
        }
      };
   
      return {
        programsOptions,
        selectedProgramId,
        selectedProgram,
        fetchProgramDetails,
        updateProgram,
        deleteProgram,
        canProceed,
        toggleLeftDrawer
      };
    }
  };
  </script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>