<template>
  <q-page class="row items-start q-pa-md justify-center">

    <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3> UNOS PLANA PREHRANE</h3>
    </q-toolbar>
  </q-header>
    <div class="form-container col-12 col-md-6 q-pa-md q-gutter-sm" style="border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
      <div class="form-header text-h5 text-center q-py-md">Ispunite obrazac za unos novog plana prehrane u sustav!</div>
      
      <q-form class="q-gutter-md" @submit.prevent="saveDietPlanAndContinue">
        <q-input filled v-model="dietPlan.name" label="Naziv plana" class="q-mb-md" />
        <q-input filled v-model="dietPlan.description" label="Opis plana" type="textarea" class="q-mb-md" />
        
        <div class="text-center q-pt-md">
          <q-btn label="Dalje" type="submit" color="primary" :disabled="canProceed" />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { ref, computed, inject } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { db } from 'boot/firebase';
import { collection, addDoc } from 'firebase/firestore';
import { getAuth, onAuthStateChanged } from 'firebase/auth';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const auth = getAuth();
    const user = ref(auth.currentUser);
    const trainerId = computed(() => user.value?.uid);
     const toggleLeftDrawer = inject('toggleLeftDrawer');

    onAuthStateChanged(auth, (currentUser) => {
      user.value = currentUser;
      if (!user.value) {
        router.push('/login');
      }
    });

    const clientId = route.params.id;
    const dietPlan = ref({
      name: '',
      description: ''
    });
    const canProceed = computed(() => {
  return !dietPlan.value.name || !dietPlan.value.description.trim();
});
  
  // metoda za spremanje plana prehrane i navigacija na stranicu TrenerPlanPrehrane
    const saveDietPlanAndContinue = async () => {

      try {
        const docRef = await addDoc(collection(db, 'Plan prehrane'), {
          name: dietPlan.value.name,
          description: dietPlan.value.description,
          trainerId: trainerId.value,
          clientId: clientId
        });
        console.log('Plan prehrane uspješno spremljen sa ID:', docRef.id);
        router.push({ name: 'TrenerPlanPrehrane', params: { dietPlanId: docRef.id, clientId: clientId } });
        
      } catch (error) {
        console.error('Greška u spremanju plana prehrane:', error);
      }
    };

    return {
      dietPlan,
      saveDietPlanAndContinue,
      canProceed,
      toggleLeftDrawer
    };
  }
};
</script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>