<template>
    <q-page padding>
      <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3> UNOS PROGRAMA VJEŽBI</h3>
    </q-toolbar>
  </q-header>
  <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Unesite vježbe u program vježbi!</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>

    <div class="q-pa-md">
    <q-select
      filled
      v-model="selectedWeek"
      :options="weekOptions"
      label="Odaberite tjedan"
      emit-value
      map-options
      class="q-mb-md"
    />

    <!-- Provjeravamo je li tjedan odabran prije prikazivanja dropdown-a za dane -->
    <q-select
      v-if="selectedWeek"
      filled
      v-model="selectedDay"
      :options="dayOptions"
      label="Odaberite dan"
      emit-value
      map-options
      class="q-mb-md"
    />
       
        <div v-if="selectedDay">
          <div v-for="(exercise, index) in selectedDayExercises" :key="index">
            <q-card flat bordered class="q-pa-md q-mb-lg"> 
              <q-select
                filled
                v-model="exercise.id"
                :options="exercisesOptions"
                label="Odaberite vježbu"
                emit-value
                map-options
                class="q-mb-md"
                @update:model-value="id => updateSelectedExercise(index, id)"
              />
              <q-input
    filled
    v-model="exercise.description"
    label="Opis vježbe"
    type="textarea"
    class="q-mb-md"
    readonly
  />
              <div v-if="exercise.imageUrl">
                <img :src="exercise.imageUrl" alt="Vježba" class="q-mt-md" style="max-width: 400px; max-height: 200px;">
              </div>
            </q-card>
          </div>
   
          <div class="q-mt-lg"> 
            <q-btn
              label="Dodaj vježbu"
              color="primary"
              @click="addNewExercise"
              class="q-mb-md"
            />
          </div>
   
          <q-btn
            label="Spremi"
            color="secondary"
            :disabled="!isAllExercisesValid"
            @click="saveExercises"
            class="full-width"
          />
        </div>
      </div>
    </q-page>
  </template>
   
   
  <script>
  import { ref, reactive, computed, onMounted, inject } from 'vue';
  import { useRoute } from 'vue-router';
  import { db } from 'boot/firebase';
  import { collection, getDocs, query, where, addDoc, doc } from 'firebase/firestore';
   
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    setup() {
      const route = useRoute();
      const clientId = ref(route.params.clientId);
      const programId = ref(route.params.programId);
      const selectedWeek= ref(null);
      const selectedDay = ref(null);
      const selectedDayExercises = reactive([]);
      const exercisesOptions = ref([]);
      const toggleLeftDrawer = inject('toggleLeftDrawer');
      const weekOptions = ref([
        { label: 'Tjedan 1', value: 'Tjedan 1' },
        { label: 'Tjedan 2', value: 'Tjedan 2' },
        { label: 'Tjedan 3', value: 'Tjedan 3' },
        { label: 'Tjedan 4', value: 'Tjedan 4' },
        { label: 'Tjedan 5', value: 'Tjedan 5' },
        { label: 'Tjedan 6', value: 'Tjedan 6' },
        { label: 'Tjedan 7', value: 'Tjedan 7' },
        { label: 'Tjedan 8', value: 'Tjedan 8' },
      ]);
      const dayOptions = ref([
        { label: 'Ponedjeljak', value: 'Ponedjeljak' },
        { label: 'Utorak', value: 'Utorak' },
        { label: 'Srijeda', value: 'Srijeda' },
        { label: 'Četvrtak', value: 'Cetvrtak' },
        { label: 'Petak', value: 'Petak' },
        { label: 'Subota', value: 'Subota' },
        { label: 'Nedjelja', value: 'Nedjelja' },
      ]);
      const clientPrograms = ref([]);
      const isLoading = ref(false);
      const error = ref(null);
   
    // učitava dostupne vježbe iz baze i sprema ih u exercisesOptions u dropdown
      const fetchExercises = async () => {
        isLoading.value = true;
        try {
          const exercisesSnapshot = await getDocs(collection(db, "vjezbe"));
          exercisesOptions.value = exercisesSnapshot.docs.map(doc => ({
            label: doc.data().name,
            value: doc.id,
            description: doc.data().description,
            imageUrl: doc.data().imageUrl
          }));
   
         
          if (clientId.value) {
            const programsQuery = query(
              collection(db, "programi"),
              where("clientId", "==", clientId.value)
            );
            const programsSnapshot = await getDocs(programsQuery);
            clientPrograms.value = programsSnapshot.docs.map(doc => ({
              id: doc.id,
              ...doc.data()
            }));
          }
        } catch (err) {
          console.error("Greška u dohvaćanju podataka:", err);
          error.value = err;
        } finally {
          isLoading.value = false;
        }
      };
   
      onMounted(() => {
    fetchExercises();
  });
   // služi za ažuriranje input polja s onom vježbom koju je korisnik odabrao u dropdownu
      const updateSelectedExercise = (index, id) => {
        const exercise = exercisesOptions.value.find(ex => ex.value === id);
        if (exercise) {
          selectedDayExercises[index] = {
            id: exercise.value,
            description: exercise.description,
            imageUrl: exercise.imageUrl
          };
        }
      };
      console.log(route.params);
      // za dodavanje nove vježbe 
      const addNewExercise = () => {
        selectedDayExercises.push({
          id: null,
          description: '',
          imageUrl: ''
        });
      };
   
      const isAllExercisesValid = computed(() => {
      return selectedWeek.value && selectedDay.value && selectedDayExercises.length > 0 &&
        selectedDayExercises.every(exercise =>
          exercise.id && exercise.description.trim() !== '' && exercise.imageUrl
        );
    });
    
   // sprema vježbe u bazu podataka 
   const saveExercises = async () => {

  try {
    // Referenca na kolekciju "Dani" unutar dokumenta tjedna
    const daysCollectionRef = collection(db, 'programi', programId.value, 'Tjedni', selectedWeek.value, selectedDay.value);
  
    for (const exercise of selectedDayExercises) {
      const exerciseData = {
        name: exercisesOptions.value.find(ex => ex.value === exercise.id).label,
  description: exercise.description,
  imageUrl: exercise.imageUrl
};
      await addDoc(daysCollectionRef, exerciseData); 
    }

    console.log('Vježba uspješno spremljena za:', selectedDay.value);
    // Resetiranje niza vježbi
    selectedDayExercises.splice(0, selectedDayExercises.length);
  } catch (error) {
    console.error('Greška pri spremanju vježbe:', error);
  }
};
      return {
        selectedWeek,
        selectedDay,
        selectedDayExercises,
        exercisesOptions,
        weekOptions,
        dayOptions,
        clientPrograms,
        isLoading,
        error,
        updateSelectedExercise,
        addNewExercise,
        isAllExercisesValid,
        saveExercises,
        toggleLeftDrawer
      };
    }
  };
  </script>

  <style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>