<template>
    <q-page class="q-pa-md">
      <q-header elevated>
        <q-toolbar>
          <q-item clickable v-ripple>
            <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />
          </q-item>
          <h3>ODRAĐENE VJEŽBE</h3>
        </q-toolbar>
      </q-header>
  
      <div class="text-center q-pb-lg">
        <div class="form-header text-h5 text-center q-py-md">Ovdje možete vidjeti odrađene vježbe Vašeg klijenta</div>
        <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
      </div>
  
      <div class="q-pa-md">
        <q-select filled v-model="selectedWeek" :options="weekOptions" label="Odaberite tjedan" emit-value map-options class="q-mb-md" />
  
        <q-select v-if="selectedWeek" filled v-model="selectedDay" :options="dayOptions" label="Odaberite dan" emit-value map-options class="q-mb-md" />
      </div>
  
      <q-table v-if="exercises.length > 0" :rows="exercises" :columns="columns" row-key="name" class="full-width">
        <template v-slot:body-cell-description="props">
          <q-td :props="props" class="description-cell">
            <div class="multi-line-description">{{ props.row.description }}</div>
          </q-td>
        </template>
        <template v-slot:body-cell-image="props">
        <q-td :props="props">
          <img :src="props.row.imageUrl" alt="Exercise" style="width: 200px; height: 200px;">
        </q-td>
      </template>
        <template v-slot:body-cell-completed="props">
          <q-td :props="props">
            <div class="q-pa-md">
              <q-checkbox v-model="props.row.completed" />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-page>
  </template>
  
  <script>
import { ref, watch, inject } from 'vue';
import { useRoute } from 'vue-router';
import { db } from 'boot/firebase';
import { collection, getDocs } from 'firebase/firestore';
import { getAuth } from 'firebase/auth';

export default {
  setup() {
    const route = useRoute();
    const clientId = route.params.id; // Uzimanje ID-a klijenta iz rute
    const auth = getAuth();
    const user = auth.currentUser;
    const selectedWeek = ref(null);
    const selectedDay = ref(null);
    const exercises = ref([]);
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const weekOptions = ref([
      { label: 'Tjedan 1', value: 'Tjedan 1' },
      { label: 'Tjedan 2', value: 'Tjedan 2' },
      { label: 'Tjedan 3', value: 'Tjedan 3' },
      { label: 'Tjedan 4', value: 'Tjedan 4' },
      { label: 'Tjedan 5', value: 'Tjedan 5' },
      { label: 'Tjedan 6', value: 'Tjedan 6' },
      { label: 'Tjedan 7', value: 'Tjedan 7' },
      { label: 'Tjedan 8', value: 'Tjedan 8' },
    ]);
    const dayOptions = ref([
      { label: 'Ponedjeljak', value: 'Ponedjeljak' },
      { label: 'Utorak', value: 'Utorak' },
      { label: 'Srijeda', value: 'Srijeda' },
      { label: 'Četvrtak', value: 'Cetvrtak' },
      { label: 'Petak', value: 'Petak' },
      { label: 'Subota', value: 'Subota' },
      { label: 'Nedjelja', value: 'Nedjelja' },
    ]);

    const columns = ref([
  { name: 'name', label: 'Naziv vježbe', field: 'name', align: 'left', sortable: true },
  { name: 'description', label: 'Opis vježbe', field: 'description', align: 'left', sortable: true },
  { name: 'image', label: 'Slika', field: 'image', align: 'center', sortable: false },
  
]);

    const fetchExercises = async () => {
      try {
        if (selectedWeek.value && selectedDay.value) {
          // Konstruiranje reference do kolekcije na osnovu clientId, selectedWeek i selectedDay
          const completedExercisesRef = collection(db, 'Treneri', user.uid, 'Klijenti', clientId, 'Odrađene vježbe', selectedWeek.value, selectedDay.value);
          const snapshot = await getDocs(completedExercisesRef);
          exercises.value = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
        }
      } catch (error) {
        console.error('Greška prilikom dohvaćanja odrađenih vježbi:', error);
      }
    };

    // Watcher koji se okida kada se promijeni selectedWeek ili selectedDay
    watch([selectedWeek, selectedDay], async () => {
      if (selectedWeek.value && selectedDay.value) {
        await fetchExercises();
      }
    });

    return {
      selectedWeek,
      selectedDay,
      exercises,
      columns,
      weekOptions,
      dayOptions,
      fetchExercises,
      toggleLeftDrawer
    };
  },
};
</script>
  
  <style>
  .form-header {
    color: #5c6bc0;
    font-weight: bold;
  }
  .multi-line-description {
  white-space: pre-line;
}

.description-cell {
  width: 50%;
}
  </style>