<template>
  <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3>{{ clientName }}</h3>
    </q-toolbar>
  </q-header>


     <div class="q-pa-md row justify-center">
    <!-- Prvi redak kartica sa dodanim donjim marginom -->
    <div class="row justify-center q-gutter-md" style="margin-bottom: 20px;">
        <q-card class="card-container" @click= "navigateToTrenerPV" style="width: 300px">
            <q-img src="6500_2_09.jpg" style="height: 200px; object-fit: cover; position: relative;">
                <div class= "absolute-bottom text-h6 center">Program vježbi</div>
                <div class="textgrey-h20" style="font-size: 12px; color: white; opacity: 0.3;">
                    Image by catalyststuff on Freepik
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje dodajte prilagođeni program vježbi za klijenta
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToTrenerAzuriranjePVBrisanje" style="width: 300px">
            <q-img src="edit-icon-2375785_640.png"  style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Ažuriranje programa vježbi</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Image by mcmurryjulie from Pixabay
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete ažurirati/obrisati Vaš program vježbi!
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToTrenerPlanPrehrane" style="width: 300px">
            <q-img src="51721.jpg"  style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Plan prehrane</div>
                <div class="textgrey-h20" style="font-size: 12px; color: white; opacity: 0.3;">
                    Image by studiogstock on Freepik
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje dodajte prilagođeni plan prehrane za klijenta
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToTrenerAzuriranjePPBrisanje" style="width: 300px">
            <q-img src="edit-icon-2375785_640.png" style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Ažuriranje plana prehrane</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Image by mcmurryjulie from Pixabay
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete ažurirati/obrisati Vaš plan prehrane!
            </q-card-section>
        </q-card>
    </div>

    <!-- Drugi redak kartica -->
    <div class="row justify-center q-gutter-md">
        <q-card class="card-container" @click="navigateToPodacioKlijentu" style="width: 300px">
            <q-img src="user-2517433_640.png" style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Podaci o klijentu</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Image by Raphael Silva from Pixabay
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete vidjeti sve podatke o vašem klijentu
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToUvidUKlijentovNapredak" style="width: 300px">
            <q-img src="progress.png" style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Napredak klijenta</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Progress icons created by wahya - Flaticon
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete vidjeti tjedni napredak Vašeg klijenta
            </q-card-section>
        </q-card>

        <q-card class="card-container" @click="navigateToTrenerUvidUKlijentOdradeneVjezbe" style="width: 300px">
            <q-img src="fax-1889045_1280.jpg" style="height: 200px; object-fit: cover; position: relative;">
                <div class="absolute-bottom text-h6 center">Odrađene vježbe</div>
                <div class="textgrey-h20" style="font-size: 12px;  color: white; opacity: 0.3;">
                    Image by Peggy und Marco Lachmann-Anke from Pixabay
                </div>
            </q-img>
            <q-card-section style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 50px;">
                Ovdje možete vidjeti odrađene vježbe Vašeg klijenta
            </q-card-section>
        </q-card>
    </div>
</div>



    
</template>

<script>
import { ref, onMounted, computed, inject } from 'vue';
import { getDoc, doc } from 'firebase/firestore';
import { db } from 'boot/firebase';
import { getAuth, onAuthStateChanged } from 'firebase/auth';
import { useRoute, useRouter } from 'vue-router';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const docId = ref(null);
    const clientName = ref('');
    const route = useRoute();
    const router = useRouter();
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    // provjerava status autentifikacije korisnika i dohvaća ime klijenta.
    onMounted(() => {
      const authInstance = getAuth();
      onAuthStateChanged(authInstance, (user) => {
        if (user) {
          docId.value = route.params.id;
          fetchClientName();
        } else {
          clientName.value = '';
        }
      });
    });
 // Dohvaća ime klijenta iz baze podataka na temelju ID-a klijenta.
    const fetchClientName = async () => {
      const authInstance = getAuth();
      if (authInstance.currentUser && docId.value) {
        const trainerId = authInstance.currentUser.uid;

        const clientDoc = await getDoc(doc(db, 'Treneri', trainerId, 'Klijenti', docId.value));
        if (clientDoc.exists()) {
          const data = clientDoc.data();
          clientName.value = `${data?.ime_korisnika} ${data?.prezime_korisnika}`;
        }
      }
    };

    const navigateToTrenerPV = () => {
      if (docId.value) {
        router.push({ name: 'TrenerPV', params: { id: docId.value } });
      }
    };

    const navigateToPodacioKlijentu = () => {
      if (docId.value) {
        router.push({ name: 'TrenerPodacioKlijentu', params: { id: docId.value } });
      }
    };
    const navigateToTrenerPlanPrehrane = () => {
      if (docId.value) {
        router.push({ name: 'TrenerPP', params: { id: docId.value } });
      }
    };
    const navigateToUvidUKlijentovNapredak = () => {
      if (docId.value) {
        router.push({ name: 'TrenerUvidUKlijentovNapredak', params: { id: docId.value } });
      }
    };
    const navigateToTrenerAzuriranjePVBrisanje = () => {
      if (docId.value) {
        router.push({ name: 'TrenerAzuriranjePVBrisanje', params: { id: docId.value } });
      }
    };
    const navigateToTrenerAzuriranjePPBrisanje = () => {
      if (docId.value) {
        router.push({ name: 'TrenerAzuriranjePPBrisanje', params: { id: docId.value } });
      }
    };

    const navigateToTrenerUvidUKlijentOdradeneVjezbe = () => {
      if (docId.value) {
        router.push({ name: 'TrenerUvidUKlijentOdradeneVjezbe', params: { id: docId.value } });
      }
    };
    

    return {
      clientName: computed(() => clientName.value),
      navigateToTrenerPV,
      navigateToPodacioKlijentu,
      navigateToTrenerPlanPrehrane,
      navigateToUvidUKlijentovNapredak,
      navigateToTrenerAzuriranjePVBrisanje,
      navigateToTrenerAzuriranjePPBrisanje,
      navigateToTrenerUvidUKlijentOdradeneVjezbe,
      toggleLeftDrawer
      
    };
  },
};
</script>

<style>


</style>
