<template>
    <q-page class="row items-start q-pa-md justify-center">

      <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-item>
      <h3> AŽURIRANJE PLANA PREHRANE</h3>
    </q-toolbar>
  </q-header>
  <div class="form-container col-12 col-md-6 q-pa-md q-gutter-sm" style="border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div class="form-header text-h5 text-center q-py-md">Odaberite plan prehrane kako biste ga ažurirali!</div>
       
        <q-form class="q-gutter-md">
          <q-select
            filled
            v-model="selectedDietPlanId"
            :options="dietPlansOptions"
            label="Odaberite plan prehrane"
            emit-value
            map-options
            class="q-mb-md"
            @update:model-value="fetchDietPlanDetails"
          />
  
          <q-input filled v-model="selectedDietPlan.name" label="Naziv plana prehrane" class="q-mb-md" />
          <q-input filled v-model="selectedDietPlan.description" label="Opis plana prehrane" type="textarea"
                   class="q-mb-md" />
  
          <div class="text-center q-pt-md">
            <q-btn label="Ažuriraj" color="primary" class="q-mr-md" @click="updateDietPlan" :disabled="canProceed" />
            <q-btn label="Obriši" color="negative" @click="deleteDietPlan" :disabled="canProceed" />
          </div>
        </q-form>
      </div>
    </q-page>
  </template>
  
  <script>
import { ref, onMounted, computed, inject } from 'vue';
import { db } from 'boot/firebase';
import { collection, getDocs, doc, updateDoc, deleteDoc, getDoc } from 'firebase/firestore';
import { useRoute, useRouter } from 'vue-router';

export default {
  beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
  setup() {
    const dietPlansOptions = ref([]);
    const selectedDietPlanId = ref('');
    const selectedDietPlan = ref({ name: '', description: '' });
    const route = useRoute();
    const router = useRouter();
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    onMounted(async () => {
      await fetchDietPlans();
    });
// dohvaća sve dostupne planove prehrane i popunjava dropdown izbornik
    const fetchDietPlans = async () => {
      try {
        const querySnapshot = await getDocs(collection(db, "PlanPrehrane"));
        dietPlansOptions.value = querySnapshot.docs.map(doc => ({ label: doc.data().name, value: doc.id }));
      } catch (error) {
        console.error("Greška u dohvaćanju plana prehrane", error);
      }
    };
// metoda koja kada korisnik odabere plan prehrane, dohvaća i prikazuje detalje odabranog plana
    const fetchDietPlanDetails = async (dietPlanId) => {
      const docRef = doc(db, "Plan prehrane", dietPlanId);
      try {
        const docSnap = await getDoc(docRef);
        if (docSnap.exists()) {
          selectedDietPlan.value = {
            name: docSnap.data().name,
            description: docSnap.data().description
          };
        } else {
          console.log("Nema dokumenta!");
          selectedDietPlan.value = { name: '', description: ''};
        }
      } catch (error) {
        console.error("Greška:", error);
      }
    };

    const canProceed = computed(() => {
  return  !selectedDietPlan.value.description.trim();
});

// metoda koja sprema promjene na odabranom planu prehrane i šalje korisnika na stranicu za ažuriranje hrane u planu
    const updateDietPlan = async () => {
      
      if(!selectedDietPlan.value.name || !selectedDietPlan.value.description)
      {
        console.error('Sva polja moraju biti popunjena!');
        return;
      }

      try 
      {
        const docRef = doc(db, "Plan prehrane", selectedDietPlanId.value);
        await updateDoc(docRef, {
            name: selectedDietPlan.value.name,
            description: selectedDietPlan.value.description
        });
        console.log("Plan prehrane uspješno ažuriran!");

        const clientId = route.params.id;
        if(!clientId)
        {
            console.error('Nema clientId');
            return;
        }
        router.push({
            name: 'TrenerAzuriranjeHraneUPlanu',
            params: {
                clientId: clientId,
                dietPlanId: selectedDietPlanId.value
            }
        });
      }
      catch (error)
      {
        console.error("Greška u ažuriranju plana prehrane", error);
      }
    };

// metoda za brisanje odabranog plana prehrane, uključujući sve njegove podkolekcije za svaki dan u tjednu
    const deleteDietPlan = async () => {
      if(!selectedDietPlanId.value) {
        console.error('Nema ID plana prehrane, nije moguće izbrisati plan prehrane!');
        return;
      }
      try {
        const planRef = doc(db, 'Plan prehrane', selectedDietPlanId.value);
        const days = ['Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota', 'Nedjelja'];
        for (const day of days) {
            const dayCollectionRef = collection(planRef, day);
            const foodSnapshot = await getDocs(dayCollectionRef);
            for(const foodDoc of foodSnapshot.docs) {
                await deleteDoc(doc(dayCollectionRef, foodDoc.id));
            }
        }
         // Pravilno resetiranje odabranih podataka
    selectedDietPlanId.value = '';
    selectedDietPlan.value = { name: '', description: '' };  

    // Osvježavanje liste planova prehrane
    await fetchDietPlans();
        await deleteDoc(planRef);
        console.log('Plan prehrane uspješno izbrisan');

      }
      catch (error){
        console.error('Greška u brisanju plana prehrane: ', error);
      }
    };

    return {
      dietPlansOptions,
      selectedDietPlanId,
      selectedDietPlan,
      fetchDietPlanDetails,
      updateDietPlan,
      deleteDietPlan,
      canProceed,
      toggleLeftDrawer
    };
  }
};
</script>

<style>
.form-header {
  color: #5c6bc0;
  font-weight: bold;
}
</style>