<template>
    <div class="q-pa-md container">
        <q-header elevated>
    <q-toolbar>
      <q-item clickable v-ripple>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
      </q-item>
      <h3> PODACI O NAPRETKU KLIJENTA</h3>
    </q-toolbar>
  </q-header>
  <div class="centered-content">
  <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Tjedna mjerenja</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>
  
      <div v-if="loading" class="q-pa-md">
        Učitavanje podataka...
      </div>
  
      <div v-else class="form-container">
        
        <div v-if="measurementData">
          
          <div class="form-field">
            <label class="form-label">Datum zadnjeg mjerenja:</label>
            <input type="text" class="form-input" :value="measurementData.datum" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Težina (kg):</label>
            <input type="text" class="form-input" :value="measurementData.tezina + ' kg'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Visina (cm):</label>
            <input type="text" class="form-input" :value="measurementData.visina + ' cm'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Obujam struka (cm):</label>
            <input type="text" class="form-input" :value="measurementData.obujamStruka + ' cm'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Obujam bicepsa (cm):</label>
            <input type="text" class="form-input" :value="measurementData.obujamBicepsa + ' cm'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Obujam bedra (cm):</label>
            <input type="text" class="form-input" :value="measurementData.obujamBedra + ' cm'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Obujam prsa (cm):</label>
            <input type="text" class="form-input" :value="measurementData.obujamPrsa + ' cm'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">Tjelesna masnoća (%):</label>
            <input type="text" class="form-input" :value="measurementData.tjelesnaMasnoca + ' %'" readonly />
          </div>
          <div class="form-field">
            <label class="form-label">BMI:</label>
            <input type="text" class="form-input" :value="measurementData.BMI" readonly />
          </div>
        </div>
        <div v-else>
          Podaci nisu dostupni.
        </div>
      </div>
    </div>
  </div>
  </template>
  
  <script>
  import { ref, onMounted, inject } from 'vue';
  import { db } from 'boot/firebase';
  import { collection, query, where, getDocs, doc, getDoc } from 'firebase/firestore';
  import { getAuth} from 'firebase/auth';
  import { useRoute } from 'vue-router';
  
  export default {
    beforeMount() {
    const isReloaded = localStorage.getItem('isReloaded');
    if (!isReloaded) {
      localStorage.setItem('isReloaded', 'true');
      location.reload();
    } else {
      localStorage.removeItem('isReloaded');
    }
  },
    setup() {
      const route = useRoute();
      const clientId = route.params.id;
      const loading = ref(true);
      const measurementData = ref(null);
      const toggleLeftDrawer = inject('toggleLeftDrawer');
   // metoda za dohvacanje podataka mjerenja klijenta
      const fetchClientMeasurementData = async (clientId) => {
        const auth = getAuth();
        const currentUser = auth.currentUser;
  
        if (currentUser) {
          const clientDocRef = doc(db, 'Treneri', currentUser.uid, 'Klijenti', clientId);
          const clientDocSnap = await getDoc(clientDocRef);
  
          if (clientDocSnap.exists()) {
            const clientData = clientDocSnap.data();
            const email = clientData.email;
  
            const measurementsQuery = query(collection(db, 'Mjerenja'), where('userEmail', '==', email));
            const querySnapshot = await getDocs(measurementsQuery);
  
            if (!querySnapshot.empty) {
              measurementData.value = querySnapshot.docs[0].data();
            } else {
              console.log('Nema pronađenih mjerenja za klijenta.');
            }
          } else {
            console.log('Klijent ne postoji u bazi podataka.');
          }
        } else {
          console.log('Nema trenutno prijavljenog korisnika.');
        }
        loading.value = false;
      };
  
      onMounted(() => {
        
        fetchClientMeasurementData(clientId);
      });
  
      return {
        loading,
        measurementData,
        toggleLeftDrawer
      };
    },
  };
  </script>
  
  <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
  
  .centered-content {
    width: 100%;
    max-width: 200px; 
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .form-header {
    color: #5c6bc0;
    font-weight: bold;
  }
  
  .glossy {
    margin-top: 20px;
  }
  
  .footer {
    background-color: rgba(2, 122, 227, 0.849);
    border: none;
    color: rgb(245, 243, 243);
    size: 30px;
  }
  </style>