<template>
    <div class="q-pa-md container">
      <q-header elevated>
        <q-toolbar>
          <q-item clickable v-ripple>
            <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
          </q-item>
          <h3>PROFIL KLIJENTA</h3>
        </q-toolbar>
      </q-header>
  
      <div class="centered-content">
      <div class="text-center q-pb-lg">
    <div class="form-header text-h5 text-center q-py-md">Osobni podaci</div>
      <div style="height: 4px; width: 100px; background-color: #027be3; margin: 0 auto;"></div>
    </div>
      
      <div class="form-container">
        <div class="form-field">
          <label class="form-label">Ime:</label>
          <input type="text" class="form-input" v-model="clientData.ime_korisnika" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Prezime:</label>
          <input type="text" class="form-input" v-model="clientData.prezime_korisnika" readonly/>
        </div>
        <div class="form-field">
          <label class="form-label">Kontakt broj:</label>
          <input type="text" class="form-input" v-model="clientData.kontakt_korisnika" readonly/>
        </div>
        <div class="form-field">
          <label class="form-label">E-mail:</label>
          <input type="email" class="form-input" v-model="clientData.email" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Spol:</label>
          <input type="text" class="form-input" v-model="clientData.spol" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Težina:</label>
          <input type="text" class="form-input" v-model="clientData.tezina_korisnika" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Visina:</label>
          <input type="text" class="form-input" v-model="clientData.visina_korisnika" readonly />
        </div>
        <div class="form-field">
          <label class="form-label">Datum rođenja:</label>
          <input type="date" class="form-input" v-model="clientData.datumrod_korisnika" readonly />
        </div>
      </div>
    </div>
  </div>
  </template>

  <script>
import { ref, onMounted, inject } from 'vue';
import { useRoute } from 'vue-router';
import { getAuth, onAuthStateChanged } from 'firebase/auth';
import { doc, getDoc } from 'firebase/firestore';
import { db } from 'boot/firebase';

export default {
  setup() {
  
    const clientData = ref({
      ime_korisnika: '',
      prezime_korisnika: '',
      kontakt_korisnika: '',
      email: '',
      spol: '',
      tezina_korisnika: '',
      visina_korisnika: '',
      datumrod_korisnika: '',
    });
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const route = useRoute();

    onMounted(async () => {
      await fetchClientData();
    });

    const fetchClientData = async () => {
      try {
        const clientId = route.params.id;
        const auth = getAuth();

        onAuthStateChanged(auth, async (user) => {
          if (user) {
            const trainerId = user.uid;
            await getClientData(clientId, trainerId);
          } else {
            console.log('Korisnik nije prijavljen!');
          }
        });
      } catch (error) {
        console.error('Greška u dohvaćanju podataka klijenta!', error);
      }
    };

    const getClientData = async (clientId, trainerId) => {
      try {
        const clientDoc = await getDoc(doc(db, 'Treneri', trainerId, 'Klijenti', clientId));
        if (clientDoc.exists()) {
          clientData.value = clientDoc.data();
        } else {
          console.log('Dokument klijenta ne postoji!');
        }
      } catch (error) {
        console.error('Greška u dohvaćanju dokumenta klijenta!', error);
      }
    };

    return {
      clientData,
      fetchClientData,
      getClientData,
      toggleLeftDrawer
    };
  },
};
</script>

  
  
  <style>
  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.centered-content {
  width: 100%;
  max-width: 200px; 
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.form-header {
  color: #5c6bc0;
  font-weight: bold;
}

.glossy {
  margin-top: 20px;
}

  </style>
  