<template>
  <q-page class="q-pa-md">
    <q-header elevated>
      <q-toolbar>
        <q-item clickable v-ripple>
          <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        </q-item>
        <h4>Kalkulator kalorija</h4>
      </q-toolbar>
    </q-header>

    <div class="q-gutter-md">
      <q-input outlined v-model="godine" label="Vaše godine" type="number" />
      <q-input outlined v-model="tezina" label="Vaša kilaža (kg)" type="number" />
      <q-input outlined v-model="visina" label="Vaša visina (cm)" type="number" />
      <q-select outlined v-model="spol" :options="spolovi" label="Spol" />
      <q-select outlined v-model="aktivnost" :options="aktivnosti" label="Aktivnost" />
      <q-select outlined v-model="cilj" :options="ciljevi" label="Vaš cilj" />
      <q-btn :disable="!formIsValid" label="Izračunaj kalorije" color="primary" @click="calculateCalories" />
      <q-card class="q-mt-md" v-if="kalorije !== null">
        <q-card-section>
          <div class="text-h6">Potreban vam je unos {{kalorije}} kalorija po danu</div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>

  <q-footer  class="footer">
    <q-toolbar>
      <q-toolbar-title>© 2024 Fitness i zdravlje</q-toolbar-title>
    </q-toolbar>
  </q-footer>
</template>

<script>
import { ref, computed, onBeforeMount, inject } from 'vue';

export default {
  setup() {
    const godine = ref(null);
    const tezina = ref(null);
    const visina = ref(null);
    const toggleLeftDrawer = inject('toggleLeftDrawer');
    const spol = ref(null);
    const aktivnost = ref(null);
    const cilj = ref(null);
    const kalorije = ref(null);
    const spolovi = [
  { label: 'Muškarac', value: 5 },
  { label: 'Žena', value: -161 },
];
    const aktivnosti = [
      { label: 'Loš', value: 1.2 },
      { label: 'Lagano aktivan', value: 1.375 },
      { label: 'Srednje aktivan', value: 1.55 },
      { label: 'Jako aktivan', value: 1.725 },
      { label: 'Ekstra aktivan', value: 1.9 },
    ];

    const ciljevi = [
      { label: 'Izgubi težinu (1 kg/tjedno)', value: -1000 },
      { label: 'Izgubi težinu (0.5 kg/tjedno)', value: -500 },
      { label: 'Održavaj kilažu', value: 0 },
      { label: 'Povećaj kilažu (0.5 kg/tjedno)', value: 500 },
      { label: 'Povećaj kilažu (1 kg/tjedno)', value: 1000 },
    ];

    const formIsValid = computed(() => {
      return godine.value !== null && tezina.value !== null && visina.value !== null && spol.value !== null && aktivnost.value !== null && cilj.value !== null;
    });

    const calculateCalories = () => {
  console.log("Vrijednost spola:", spol.value); // Da vidimo cijeli objekt
  let bmr;
  // Provjerava spol koristeći strogu jednakost za vrijednosti unutar objekta
  if (spol.value?.value === 5) { // Muškarac
    bmr = 88.362 + (13.397 * tezina.value) + (4.799 * visina.value) - (5.677 * godine.value);
  } else if (spol.value?.value === -161) { // Žena
    bmr = 447.593 + (9.247 * tezina.value) + (3.098 * visina.value) - (4.33 * godine.value);
  } else {
    console.error("Nepoznata vrijednost za spol", spol.value);
    return;
  }

  const dailyCalories = Math.round(bmr * aktivnost.value.value);
  const targetCalories = cilj.value.value;
  kalorije.value = dailyCalories + targetCalories;
};
    onBeforeMount(() => {
      const isReloaded = localStorage.getItem('isReloaded');
      if (!isReloaded) {
        localStorage.setItem('isReloaded', 'true');
        window.location.reload();
      } else {
        localStorage.removeItem('isReloaded');
      }
    });

    return {
      godine,
      tezina,
      visina,
      spol,
      aktivnost,
      cilj,
      kalorije,
      aktivnosti,
      ciljevi,
      spolovi,
      formIsValid,
      calculateCalories,
      toggleLeftDrawer
    };
  },
};
</script>
<style>
.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 300px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}


.edit-btn {
  margin-left: 600px;
}

.footer {
  background-color: rgba(2, 122, 227, 0.849);
  border: solid;
  color: rgb(245, 243, 243);
  size: 30px;
}

.glossy {
  margin-left: 125px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom:20px;
}
</style>
